.idea
node_modules
.env
.local-optic-core
.task/
*.swp
.DS_Store
/optic-snapshots
/output
/target
/workspaces/optic-engine-wasm/browser
/workspaces/optic-engine-wasm/build
*.log
build/


.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*