.idea/
target/
project/target/

arrow/target/
common/target/
opm/target/
server/target/
sdk/target/
core/target/

test-examples/resources/tmp/

project/mixpanel-token

server/src/main/resources/opticmarkdown