openapi: 3.0.1
info:
  title: TodoAPI
  version: "1.1"
paths:
  /todos:
    get:
      parameters:
        - name: limit
          in: query
          description: abc
          schema:
            type: "string"
          required: true
        - name: created_before
          in: query
          schema:
            type: string
            format: date-time
          required: true  
        - name: created_after
          in: query
          schema:
            type: string
            format: date-time
          required: true  
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: "schemas.yml#/TodoRead"