{
  "swagger" : "2.0",
  "schemes" : [
    "https"
  ],
  "host" : "dracoon.team",
  "basePath" : "/api",
  "info" : {
    "contact" : {
      "email" : "develop@ssp-europe.eu",
      "x-twitter" : "dracoongmbh"
    },
    "description" : "REST Web Services for DRACOON.<br> Version. 4.5.0  - built at: 1517571015562",
    "termsOfService" : "https://www.dracoon.com/terms/general-terms-and-conditions/",
    "title" : "DRACOON",
    "version" : "4.5.0",
    "x-apisguru-categories" : [
      "cloud"
    ],
    "x-logo" : {
      "url" : "https://twitter.com/dracoongmbh/profile_image?size=original"
    },
    "x-origin" : [
      {
        "format" : "swagger",
        "url" : "https://dracoon.team/api/spec_v4/",
        "version" : "2.0"
      }
    ],
    "x-providerName" : "dracoon.team"
  },
  "tags" : [
    {
      "description" : "File download without auth headers",
      "name" : "downloads"
    },
    {
      "description" : "User groups",
      "name" : "groups"
    },
    {
      "description" : "Upload and Download Shares",
      "name" : "shares"
    },
    {
      "description" : "Current user operations",
      "name" : "user"
    },
    {
      "description" : "Authentication",
      "name" : "auth"
    },
    {
      "description" : "System events log",
      "name" : "eventlog"
    },
    {
      "description" : "User management",
      "name" : "users"
    },
    {
      "description" : "System settings",
      "name" : "system"
    },
    {
      "description" : "File system objects (rooms, folders, files)",
      "name" : "nodes"
    },
    {
      "description" : "Configuration",
      "name" : "config"
    },
    {
      "description" : "System events log (DEPRECATED: use eventlog)",
      "name" : "syslog"
    },
    {
      "description" : "Provisioning interface",
      "name" : "provisioning"
    },
    {
      "description" : "Public: shares upload/download, software info",
      "name" : "public"
    },
    {
      "description" : "Role user managment",
      "name" : "roles"
    },
    {
      "description" : "File upload without auth headers",
      "name" : "uploads"
    }
  ],
  "paths" : {
    "/v4/auth/login" : {
      "post" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:\nAuthenticates user and provides an authentication token that is required for most operations.\n\n### Precondition:\nExisting user that is not locked.\n\n### Effects:\nUser is logged in.\n\n### Further Information:\nThe provided token is valid for **2 hours**, every usage resets this period to 2 full hours again.  \nLogging off invalidates the token.  \n\n### Important:  \n* If auth type `radius` is used, a token (request parameter) may be set, otherwise this parameter is ignored.  \n* If the token is set, `password` is optional for this auth type.\n\n### Currently supported languages (with ISO 639-1 code):\n* German (de)\n* English (en)\n* Spanish (es)\n* French (fr)",
        "operationId" : "login",
        "parameters" : [
          {
            "description" : "User credentials",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/LoginRequest"
            }
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/LoginResponse"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-10010] Provided language is not supported.\n* [-10100] Invalid authentication method.\n* [-80000] Mandatory fields cannot be empty.\n* [-90057] The domain has to be provided with the user name in the following way: domain\\\\username.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10011] Wrong username or password.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n\n* [-10003] User is locked by an administrator.\n* [-10004] User has expired.\n* [-10005] User is temporarily locked. (Unlock time will be delivered in ISO 8601 format [2014-12-23T13:24:00Z]).\n* [-10007] Customer for this user is locked.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "409" : {
            "description" : "Conflict\n\n* [-40010] Could not create Home Room.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10108] RADIUS Access-Challenge required.",
            "schema" : {
              "$ref" : "#/definitions/RadiusChallengeResponse"
            }
          },
          "502" : {
            "description" : "Bad Gateway\n\n* [-90055] Invalid Active Directory Configuration.\n* [-90070] RADIUS connection failed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Authenticate user",
        "tags" : [
          "auth"
        ]
      }
    },
    "/v4/auth/openid/login" : {
      "post" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nThis is the second step of the OpenID Connect authentication.  \nThe user hands over the authorization code and is logged in.\n\n### Precondition:\nExisting user with activated OpenID Connect authentication that is not locked.\n\n### Effects:\nUser is logged in.\n\n### Further Information:\nSee [http://openid.net/developers/specs](http://openid.net/developers/specs) for further information.",
        "operationId" : "completeOpenIdLogin",
        "parameters" : [
          {
            "description" : "Authorization code",
            "in" : "query",
            "name" : "code",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Authentication state",
            "in" : "query",
            "name" : "state",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/LoginResponse"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-10100] Invalid authentication method.\n* [-80000] Mandatory fields cannot be empty.\n* [-90043] Invalid authentication state."
          },
          "403" : {
            "description" : "Forbidden\n\n* [-10003] User is locked by an administrator.\n* [-10004] User has expired.\n* [-10005] User is temporarily locked. (Unlock time will be delivered in ISO 8601 format [2014-12-23T13:24:00Z]).\n* [-10007] Customer for this user is locked.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-70501] User not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "502" : {
            "description" : "Bad Gateway\n\n* [-90044] Identity retrieval failed.\n* [-90045] Identity validation failed.\n* [-90046] User information retrieval failed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Complete OpenID Connect authentication",
        "tags" : [
          "auth"
        ]
      }
    },
    "/v4/auth/openid/resources" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "deprecated" : true,
        "description" : "### Functional Description:  \nProvides information about OpenID Connect authentication options.\n\n### Precondition:\nNone.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.",
        "operationId" : "getOpenIdAuthResources",
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/OpenIdAuthResources"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get OpenID Connect authentication resources",
        "tags" : [
          "auth"
        ]
      }
    },
    "/v4/auth/ping" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:\nTest connection to DRACOON Server.\n\n### Precondition:\nNone.\n\n### Effects:\n`200 OK` with current date string is returned if successful.\n\n### Further Information:\nNone.",
        "operationId" : "ping",
        "produces" : [
          "text/plain"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Ping",
        "tags" : [
          "auth"
        ]
      }
    },
    "/v4/auth/reset_password" : {
      "post" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:  \nRequest an email with a request token for a certain user to reset his / her password.\n\n### Precondition:\nRegistered user account.\n\n### Effects:\nProvided user receives email with reset token.\n\n### Further Information:\nNone.\n\n### Currently supported languages (with ISO 639-1 code):\n* German (de)\n* English (en)\n* Spanish (es)\n* French (fr)",
        "operationId" : "requestPasswordReset",
        "parameters" : [
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/ResetPasswordRequest"
            }
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request\n\n* [-10010] Provided language is not supported.\n* [-10105] Password cannot be reset for this user.\n* [-10107] Password can only be reset every 5 minutes.\n* [-80000] Mandatory fields cannot be empty.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-70501] User not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Request password reset",
        "tags" : [
          "auth"
        ]
      }
    },
    "/v4/auth/reset_password/{token}" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRequest all information for a password change dialogue e.g. real name of user.\n\n### Precondition:\nUser received a password reset token.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.",
        "operationId" : "validateResetPasswordToken",
        "parameters" : [
          {
            "description" : "Password reset token",
            "in" : "path",
            "name" : "token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ResetPasswordTokenValidateResponse"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-10001] Password reset token is modified.\n* [-80000] Mandatory fields cannot be empty.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* Token not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get information for password reset",
        "tags" : [
          "auth"
        ]
      },
      "put" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:  \nResets a user's password to a new value.\n\n### Precondition:\nUser received a password reset token.\n\n### Effects:\nNewly transmitted password is set.\n\n### Further Information:\nNone.",
        "operationId" : "resetPassword",
        "parameters" : [
          {
            "description" : "Password reset token",
            "in" : "path",
            "name" : "token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/ResetPasswordWithTokenRequest"
            }
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request\n\n* [-10002] Password is not secure.\n* [-80000] Mandatory fields cannot be empty.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* Token not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Reset password",
        "tags" : [
          "auth"
        ]
      }
    },
    "/v4/auth/resources" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "deprecated" : true,
        "description" : "### Functional Description:  \nProvides information about authentication options.\n\n### Precondition: \nNone.\n\n### Effects: \nNone.\n\n### Further Information:\nThe server identifies the relevant customer by the passed HTTP header `Origin`.  \nUse this call to customize the log-on form.  \n\n### Important: \nThe default language and authentication method are always provided as topmost entry.\n\n### Currently supported languages (with ISO 639-1 code):\n* German (de)\n* English (en)\n* Spanish (es)\n* French (fr)",
        "operationId" : "getAuthInitResources",
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/AuthInitResources"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-90103] Customer not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get authentication resources",
        "tags" : [
          "auth"
        ]
      }
    },
    "/v4/config/authSettings" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve the settings of authentication configuration.\n\n### Precondition:\nRight _\"read global config\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.\n\n### Configuration settings for various authentication methods\n\n### Authentication Methods\n\n* **sql**  \n    **Basic Authentication globally allowed**  \n    This option must be activated to allow users to log in with their credentials stored in the database.  \n    VALUE: `[true|false]`\n\n* **active_directory**  \n    **Active Directory Authentication globally allowed**  \n    This option must be activated to allow users to log in with their Active Directory credentials.  \n    VALUE: `[true|false]`\n\n* **radius**  \n    **RADIUS Authentication globally allowed**  \n    This option must be activated to allow users to log in with their RADIUS username, their PIN and a token password.  \n    VALUE: `[true|false]`\n\n* **openid**  \n    **OpenID Connect Authentication globally allowed**  \n    This option must be activated to allow users to log in with their OpenID Connect identity.  \n    VALUE: `[true|false]`\n\n* **default_auth_method**  \n    **Default authentication method without user context**  \n    If this option is set, the chosen method will be provided as default authentication method if no user context is available.  \n    Only one authentication method can be set and it must be allowed (see above).  \n    If no value is set, there is no guarantee about the order of the returned methods.  \n    Only activated authentication methods may be set as default authentication method.  \n    VALUE: `[sql|active_directory|radius|openid]`\n\n### Configurable settings for RADIUS authentication\n\n### `DEPRECATED`\n\nThese settings will be ignored.  \nPlease use `/system/config/auth/radius` API.\n\n* **radius-ip**  \n    IP address of the RADIUS server  \n    VALUE: `IPv4 address`\n\n* **radius-port**  \n    Port of the RADIUS server (usually 1812)  \n    VALUE: `Port`\n\n* **radius-sharedsec**  \n    Shared Secret to access the RADIUS server  \n    VALUE: `Shared Secret`\n\n* **radius-otpPinFirst**  \n    Sequence order of concatenated PIN and One-Time token  \n    VALUE: `[true|false]`",
        "operationId" : "getAuthSettings",
        "parameters" : [
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConfigOptionList"
            }
          },
          "401" : {
            "description" : "Unauthorized\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get authentication settings",
        "tags" : [
          "config"
        ]
      },
      "put" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:\nChange one or more settings of authentication configuration.\n\n### Precondition:\nRight _\"change global config\"_ required.\n\n### Effects:\nOne or more global authentication setting gets changed.\n\n### Further Information:\nNone.\n\n### Configuration settings for various authentication methods\n\n### Authentication Methods\n\n* **sql**  \n    **Basic Authentication globally allowed**  \n    This option must be activated to allow users to log in with their credentials stored in the database.  \n    VALUE: `[true|false]`\n\n* **active_directory**  \n    **Active Directory Authentication globally allowed**  \n    This option must be activated to allow users to log in with their Active Directory credentials.  \n    VALUE: `[true|false]`\n\n* **radius**  \n    **RADIUS Authentication globally allowed**  \n    This option must be activated to allow users to log in with their RADIUS username, their PIN and a token password.  \n    VALUE: `[true|false]`\n\n* **openid**  \n    **OpenID Connect Authentication globally allowed**  \n    This option must be activated to allow users to log in with their OpenID Connect identity.  \n    VALUE: `[true|false]`\n\n* **default_auth_method**  \n    **Default authentication method without user context**  \n    If this option is set, the chosen method will be provided as default authentication method if no user context is available.  \n    Only one authentication method can be set and it must be allowed (see above).  \n    If no value is set, there is no guarantee about the order of the returned methods.  \n    Only activated authentication methods may be set as default authentication method.  \n    VALUE: `[sql|active_directory|radius|openid]`\n\n### Configurable settings for RADIUS authentication\n\n### `DEPRECATED`\n\nThese settings will be ignored.  \nPlease use `PUT /system/config/auth/radius` API.\n\n* **radius-ip**  \n    IP address of the RADIUS server  \n    VALUE: `IPv4 address`\n\n* **radius-port**  \n    Port of the RADIUS server (usually 1812)  \n    VALUE: `Port`\n\n* **radius-sharedsec**  \n    Shared Secret to access the RADIUS server  \n    VALUE: `Shared Secret`\n\n* **radius-otpPinFirst**  \n    Sequence order of concatenated PIN and One-Time token  \n    VALUE: `[true|false]`",
        "operationId" : "setAuthSettings",
        "parameters" : [
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/ConfigOptionList"
            }
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request\n\n* [-10100] Invalid authentication method.\n* [-80000] Mandatory fields cannot be empty.\n* [-80001] Not valid positive number.\n* [-80005] Not valid boolean value.\n* [-80020] Not valid IP address.\n* [-90071] Cannot enable RADIUS. No Valid Configuration.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-90000] Settings key not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Change authentication setting",
        "tags" : [
          "config"
        ]
      }
    },
    "/v4/config/settings" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nDRACOON configuration entry point.  \nReturns a list of configurable system settings.\n\n### Precondition:\nRight _\"read global config\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\n\n### Attention\nIf `eula_active` is true, but not accepted yet, or password must be changed, only the following two values are returned:\n* **allow_system_global_weak_password**\n* **eula_active**\n\n### Configurable settings\n\n* **allow_system_global_weak_password**  \n    Allow weak password\n    * A weak password has to fulfill the following criteria:  \n        * is at least 8 characters long  \n        * contains letters and numbers\n    * A strong password has to fulfill the following criteria in addition:  \n        * contains at least one special character  \n        * contains upper and lower case characters\n\n    VALUE: `[true|false]`\n\n* **branding_server_branding_id** **`NEW`**  \n    The branding UUID, which corresponds to _BRANDING-QUALIFIER_ in the new branding server.  \n    VALUE: `String`\n\n* **branding_portal_url** **`NEW`**  \n    Access URL to to the Branding Portal.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `String`\n\n* **branding_server_customer**  \n    The UUID of the branding server customer, which corresponds to customer key in the branding server.  \n    VALUE: `String`\n\n* **branding_server_url**  \n    Access URL to to the Branding Server.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `String`\n\n* **connect_as_drive**  \n    Rooms can be mounted by WebDAV.  \n    VALUE: `[true|false]`\n\n* **dblog**  \n    Write logs to local database  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **default_downloadshare_expiration_period**  \n    Default expiration period for Download Shares in days.  \n    VALUE: `Integer between 0 and 9999`\n\n* **default_file_upload_expiration_date**  \n    Default expiration period for all uploaded files in days.  \n    VALUE: `Integer between 0 and 9999` (set 0 to disable)\n\n* **default_language**  \n    Define which language should be default.  \n    VALUE: `cf. GET /auth/resources Model \"Language\"`\n\n* **default_uploadshare_expiration_period**  \n    Default expiration period for Upload Shares in days.  \n    VALUE: `Integer between 0 and 9999`\n\n* **email_from**  \n    Sender of system-generated emails  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `Valid email address`\n\n* **email_to_sales**  \n    Contact email address for customers to request more user licenses or data volume.  \n    VALUE: `Valid email address`\n\n* **email_to_support**  \n    Support email address for users.  \n    VALUE: `Valid email address`\n\n* **enable_client_side_crypto**  \n    Activation status of **TripleCrypt™ Technology**.  \n    Can only be enabled once; disabling is not possible.  \n    VALUE: `[true|false]` (default: `false`)\n\n* **eula_active**  \n    Each user has to confirm the EULA at first login.  \n    VALUE: `[true|false]`\n\n* **eventlog_retention_period**  \n    Retention period (in days) of event log entries.  \n    After that period, all entries are deleted.  \n    Recommended value: 7  \n    VALUE: `Integer between 0 and 9999` (if set to 0: no logs are deleted)\n\n* **file_size_js**  \n    Maximum file size (in bytes) for downloads of encrypted files with JavaScript.  \n    Bigger files will require a JavaApplet.  \n    Recommended value: 10485760 (= 10MB)  \n    VALUE: `Integer`\n\n* **ip_address_logging**  \n    Determines whether a user's IP address is logged on login.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **mailserver**  \n    Email server to send emails  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `DNS name or IPv4 of an email server`\n\n* **mailserver_authentication_necessary**  \n    Set to true if the email server requires authentication.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **mailserver_password**  \n**Password is no longer returned.**\n\n* **mailserver_password_set**  \n    Indicates if a password is set for the mailserver (because `mailserver_password` is always returned empty)  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **mailserver_port**  \n    Email server port  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `Positive number`\n\n* **mailserver_username**  \n    User name for email server  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `User name for authentication`\n\n* **mailserver_use_ssl**  \n    Email server requires SSL connection?  \n    Only visible for _Config Manager_ of Provider Customer  \n    Requires mailserver_use_starttls to be false  \n    VALUE: `[true|false]`\n\n* **mailserver_use_starttls**  \n    Email server requires StartTLS connection?  \n    Only visible for _Config Manager_ of Provider Customer  \n    Requires mailserver_use_ssl to be false  \n    VALUE: `[true|false]`\n\n* **syslog**  \n    Write logs to a syslog interface  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **syslog_host**  \n    Syslog Server (IP or FQDN)  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `DNS name or IPv4 of a syslog server`\n\n* **syslog_port**  \n    Syslog server port  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `Positive Number`\n\n* **syslog_protocol**  \n    Protocol to connect to syslog server  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[TCP|UDP]`\n\n* **system_name**  \n    System name  \n    VALUE: `Display name of the DRACOON`\n\n* **enable_email_notification_button**  \n    Enable mail notification button  \n    VALUE: `[true|false]`\n\n* **allow_share_password_sms**  \n    Allow sending of share passwords via SMS  \n    VALUE: `[true|false]`\n\n* **globally_allow_share_password_sms**  \n    Allow sending of share passwords via SMS  \n    Read only  \n    VALUE: `[true|false]`\n\n* **use_s3_storage**  \n    Defines if S3 is used as storage backend  \n    Read only  \n    VALUE: `[true|false]`\n\n* **s3_default_region**  \n    Suggested S3 region  \n    Read only  \n    VALUE: `Region name`",
        "operationId" : "getSystemSettings",
        "parameters" : [
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConfigOptionList"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get system settings",
        "tags" : [
          "config"
        ]
      },
      "put" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:\nDRACOON configuration entry point.  \nReturns a list of configurable settings.\n\n### Precondition:\nRight _\"change global config\"_ required.\n\n### Effects:\nOne or more global authentication setting gets changed.\n\n### Further Information:\n\n### Attention\nOnly visible for _Config Manager_ of Provider Customer.\n\n### Settings\n\n### Configurable settings\n\n* **allow_system_global_weak_password**  \n    Allow weak password\n    * A weak password has to fulfill the following criteria:  \n        * is at least 8 characters long  \n        * contains letters and numbers\n    * A strong password has to fulfill the following criteria in addition:  \n        * contains at least one special character  \n        * contains upper and lower case characters\n\n    VALUE: `[true|false]`\n\n* **branding_server_branding_id** **`NEW`**  \n    The branding UUID, which corresponds to _BRANDING-QUALIFIER_ in the new branding server.  \n    VALUE: `String`\n\n* **branding_portal_url** **`NEW`**  \n    Access URL to to the Branding Portal.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `String`\n\n* **branding_server_customer**  \n    The UUID of the branding server customer, which corresponds to customer key in the branding server.  \n    VALUE: `String`\n\n* **branding_server_url**  \n    Access URL to to the Branding Server.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `String`\n\n* **connect_as_drive**  \n    Rooms can be mounted by WebDAV.  \n    VALUE: `[true|false]`\n\n* **dblog**  \n    Write logs to local database  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **default_downloadshare_expiration_period**  \n    Default expiration period for Download Shares in days.  \n    VALUE: `Integer between 0 and 9999`\n\n* **default_file_upload_expiration_date**  \n    Default expiration period for all uploaded files in days.  \n    VALUE: `Integer between 0 and 9999` (set 0 to disable)\n\n* **default_language**  \n    Define which language should be default.  \n    VALUE: `cf. GET /auth/resources Model \"Language\"`\n\n* **default_uploadshare_expiration_period**  \n    Default expiration period for Upload Shares in days.  \n    VALUE: `Integer between 0 and 9999`\n\n* **email_from**  \n    Sender of system-generated emails  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `Valid email address`\n\n* **email_to_sales**  \n    Contact email address for customers to request more user licenses or data volume.  \n    VALUE: `Valid email address`\n\n* **email_to_support**  \n    Support email address for users.  \n    VALUE: `Valid email address`\n\n* **enable_client_side_crypto**  \n    Activation status of **TripleCrypt™ technology**.  \n    Can only be enabled once; disabling is not possible.  \n    VALUE: `[true|false]` (default: `false`)\n\n* **eula_active**  \n    Each user has to confirm the EULA at first login.  \n    VALUE: `[true|false]`\n\n* **eventlog_retention_period**  \n    Retention period (in days) of event log entries.  \n    After that period, all entries are deleted.  \n    Recommended value: 7  \n    VALUE: `Integer between 0 and 9999` (if set to 0: no logs are deleted)\n\n* **file_size_js**  \n    Maximum file size (in bytes) for downloads of encrypted files with JavaScript.  \n    Bigger files will require a JavaApplet.  \n    Recommended value: 10485760 (= 10MB)  \n    VALUE: `Integer`\n\n* **ip_address_logging**  \n    Determines whether a user's IP address is logged on login.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **mailserver**  \n    Email server to send emails  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `DNS name or IPv4 of an email server`\n\n* **mailserver_authentication_necessary**  \n    Set to true if the email server requires authentication.  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **mailserver_password**  \n    Password for email server  \n    VALUE: `Password for authentication`\n\n* **mailserver_port**  \n    Email server port  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `Positive number`\n\n* **mailserver_username**  \n    User name for email server  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `User name for authentication`\n\n* **mailserver_use_ssl**  \n    Email server requires SSL connection?  \n    Only visible for _Config Manager_ of Provider Customer  \n    Requires mailserver_use_starttls to be false  \n    VALUE: `[true|false]`\n\n* **mailserver_use_starttls**  \n    Email server requires StartTLS connection?  \n    Only visible for _Config Manager_ of Provider Customer  \n    Requires mailserver_use_ssl to be false  \n    VALUE: `[true|false]`\n\n* **syslog**  \n    Write logs to a syslog interface  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[true|false]`\n\n* **syslog_host**  \n    Syslog Server (IP or FQDN)  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `DNS name or IPv4 of a syslog server`\n\n* **syslog_port**  \n    Syslog server port  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `Positive Number`\n\n* **syslog_protocol**  \n    Protocol to connect to syslog server  \n    Only visible for _Config Manager_ of Provider Customer  \n    VALUE: `[TCP|UDP]`\n\n* **system_name**  \n    System name  \n    VALUE: `Display name of the DRACOON`\n\n* **enable_email_notification_button**  \n    Enable mail notification button  \n    VALUE: `[true|false]`\n\n* **allow_share_password_sms**  \n    Allow sending of share passwords via SMS  \n    VALUE: `[true|false]`",
        "operationId" : "setSystemSetting",
        "parameters" : [
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/ConfigOptionList"
            }
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request\n\n* [-10010] Provided language is not supported.\n* [-80000] Mandatory fields cannot be empty.\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.\n* [-80005] Not valid boolean value.\n* [-80009] Not a valid email address.\n* [-80012] Not allowed protocol.\n* [-80013] Not a valid hostname or IP address.\n* [-80018] Not between 0 and 9999.\n* [-80019] Not between 1 and 9999.\n* [-80029] Global configuration value cannot be overwritten.\n* [-90001] Cannot use both SSL and STARTTLS for mail.\n* [-90010] TripleCrypt™ technology is already active and can not be deactivated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-90000] Settings key not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Change system settings",
        "tags" : [
          "config"
        ]
      }
    },
    "/v4/downloads/zip/{token}" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nDownload multiple files in a ZIP archive.\n\n### Precondition:\nValid download token.\n\n### Effects:\nNone.\n\n### Further Information:\nCreate a download token with `POST /nodes/zip`.",
        "operationId" : "getZipFileByToken",
        "parameters" : [
          {
            "description" : "Download token",
            "in" : "path",
            "name" : "token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/octet-stream"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "format" : "byte",
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80000] Mandatory fields cannot be empty.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-50001] Download token not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Download ZIP file",
        "tags" : [
          "downloads"
        ]
      }
    },
    "/v4/downloads/{token}" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nDownload a file.\n\n### Precondition:\nValid download token.\n\n### Effects:\nNone.\n\n### Further Information:\nRange requests are supported (please cf. [RCF 7233](https://tools.ietf.org/html/rfc7233) for details).",
        "operationId" : "getFileDataByToken",
        "parameters" : [
          {
            "description" : "Download token",
            "in" : "path",
            "name" : "token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Range",
            "in" : "header",
            "name" : "Range",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Always return 'application/octet-stream' instead of specific mimetype",
            "in" : "query",
            "name" : "generic_mimetype",
            "required" : false,
            "type" : "boolean"
          }
        ],
        "produces" : [
          "application/octet-stream"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "format" : "byte",
              "type" : "string"
            }
          },
          "206" : {
            "description" : "Partial Content",
            "schema" : {
              "format" : "byte",
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80000] Mandatory fields cannot be empty.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-50001] Download token not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "416" : {
            "description" : "Range Not Satisfiable"
          }
        },
        "summary" : "Download file",
        "tags" : [
          "downloads"
        ]
      },
      "head" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nDownload a file.\n\n### Precondition:\nValid download token.\n\n### Effects:\nNone.\n\n### Further Information:\nRange requests are supported (please cf. [RCF 7233](https://tools.ietf.org/html/rfc7233) for details).",
        "operationId" : "getFileDataByToken_1",
        "parameters" : [
          {
            "description" : "Download token",
            "in" : "path",
            "name" : "token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Range",
            "in" : "header",
            "name" : "Range",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Always return 'application/octet-stream' instead of specific mimetype",
            "in" : "query",
            "name" : "generic_mimetype",
            "required" : false,
            "type" : "boolean"
          }
        ],
        "produces" : [
          "application/octet-stream"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "format" : "byte",
              "type" : "string"
            }
          },
          "206" : {
            "description" : "Partial Content",
            "schema" : {
              "format" : "byte",
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80000] Mandatory fields cannot be empty.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-50001] Download token not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "416" : {
            "description" : "Range Not Satisfiable"
          }
        },
        "summary" : "Download file",
        "tags" : [
          "downloads"
        ]
      }
    },
    "/v4/eventlog/audits/nodes" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve a list of all nodes of type `room` and the room assignment users with permissions.\n\n### Precondition:\nRight _\"read audit log\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.\n\n### Filter\n\nFilter string syntax: `FIELD_NAME:OPERATOR:VALUE`  \nMultiple fields are supported.\n\n### Filter fields:\n\n* **nodeId**  \n    Node ID  \n    OPERATOR: `eq` (Node ID equal value)  \n    VALUE: `Search string`\n\n* **nodeName**  \n    Node name (Login)  \n    OPERATOR: `cn|eq` (Node name contains value | equal value)  \n    VALUE: `Search string`\n\n* **nodeParentId**  \n    Node parent ID  \n    OPERATOR: `eq` (Parent ID equal value; parent ID 0 is the root node.)  \n    VALUE: `Search string`\n\n* **userId**  \n    User ID  \n    OPERATOR: `eq` (User ID equal value)  \n    VALUE: `Search string`\n\n* **userName**  \n    User name (Login)  \n    OPERATOR: `cn|eq` (User name contains value | equal value)  \n    VALUE: `Search string`\n\n* **userFirstName**  \n    User first name  \n    OPERATOR: `cn|eq` (User first name contains value | equal value)  \n    VALUE: `Search string`\n\n* **userLastName**  \n    User last name  \n    OPERATOR: `cn|eq` (User last name contains value | equal value)  \n    VALUE: `Search string`\n\n* **permissionsManage**  \n    Filter the users that (don't) have manage right in this room  \n    OPERATOR: `eq` (multiple values not allowed)  \n    VALUE: `[true|false]`\n\n* **nodeIsEncrypted**  \n    Encrypted node filter  \n    OPERATOR: `eq` (multiple values not allowed)  \n    VALUE: `[true|false]`\n\n* **nodeHasRecycleBin**  \n    Recycle bin filter  \n    OPERATOR: `eq` (multiple values not allowed)  \n    VALUE: `[true|false]`\n    \n* **nodeHasActivitiesLog**  \n    Activities log filter  \n    OPERATOR: `eq` (multiple values not allowed)  \n    VALUE: `[true|false]`\n\n### Logical grouping:\nFiltering according first three fields (`login`, `lastName`, `firstName`) is intrinsically processed by the API as logical _OR_.  \nIn opposite, filtering according to is processed intrinsically as logical _AND_.\n\n### Example:\n* `userName:cn:searchString_1|userFirstName:cn:searchString_2|nodeId:eq:2`  \nFilter by user login containing `searchString_1` OR first name containing `searchString_2` and node ID equal 2.\n\n### Sort\n\nSort string syntax: `FIELD_NAME:ORDER`  \nOrder can be `asc` or `desc`.  \nMultiple fields are supported.\n\n### Sort fields:\n\n* **nodeId**: Node ID\n* **nodeName**: Node name\n* **nodeParentId**: Node parent ID\n* **nodeSize**: Node size\n* **nodeQuota**: Node quota\n\n### Example:\n* `nodeName:asc`  \nSort by `nodeName` ascending.",
        "operationId" : "getAuditNodeUserData",
        "parameters" : [
          {
            "description" : "Filter string",
            "in" : "query",
            "name" : "filter",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Sort string",
            "in" : "query",
            "name" : "sort",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "items" : {
                "$ref" : "#/definitions/AuditNodeResponse"
              },
              "type" : "array"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get node assigned users with permissions",
        "tags" : [
          "eventlog"
        ]
      }
    },
    "/v4/eventlog/events" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve eventlog (= audit log) events.\n\n### Precondition:\nRole _\"Log Auditor\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nOutput may be limited to a certain number of entries.  \nPlease use filter criteria and paging.",
        "operationId" : "getLogEvents",
        "parameters" : [
          {
            "description" : "Range offset",
            "format" : "int32",
            "in" : "query",
            "name" : "offset",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Range limit",
            "format" : "int32",
            "in" : "query",
            "name" : "limit",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Start date\ne.g. 2015-12-31T23:59:00",
            "in" : "query",
            "name" : "date_start",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "End date\ne.g. 2015-12-31T23:59:00",
            "in" : "query",
            "name" : "date_end",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Operation ID\ncf. `GET /eventlog/operations`",
            "format" : "int32",
            "in" : "query",
            "name" : "type",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "User ID",
            "format" : "int64",
            "in" : "query",
            "name" : "user_id",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Operation status:\n* 0 - Success\n* 2 - Error",
            "format" : "int32",
            "in" : "query",
            "name" : "status",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "User client",
            "in" : "query",
            "name" : "user_client",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8",
          "text/csv"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/LogEventList"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.\n* [-80024] Invalid range parameters.\n* [-80026] Not a valid operation ID.\n* [-80027] Not a valid operation status.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get system events",
        "tags" : [
          "eventlog"
        ]
      }
    },
    "/v4/eventlog/operations" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve eventlog (= audit log) operation IDs and the associated log operation description.\n\n### Precondition:\nRole _\"Log Auditor\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.",
        "operationId" : "getLogOperations",
        "parameters" : [
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/LogOperationList"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get allowed Log Operations",
        "tags" : [
          "eventlog"
        ]
      }
    },
    "/v4/groups" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nReturns a list of user groups.\n\n### Precondition:\nRight _\"read groups\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.\n\n### Filters\n\nFilter string syntax: `FIELD_NAME:OPERATOR:VALUE`\n\n### Filter fields:\n\n* **name**  \n    Group name  \n    OPERATOR: `cn` (Group name contains value; multiple values not allowed)  \n    VALUE: `Search string`\n\n### Example: \n* `name:cn:searchString`  \nFilter by group `name` containing `searchString`.\n\n### Sorting\n\nSort string syntax: `FIELD_NAME:ORDER`  \nOrder can be `asc` or `desc`.  \nMultiple fields are supported.\n\n### Sort fields:\n\n* **name**: Group name\n* **createdAt**: Creation date\n* **expireAt**: Expiration date\n* **cntUsers**: Amount of users\n\n### Example:\n* `name:asc|expireAt:desc`  \nSort by `name` ascending and by `expireAt` descending.",
        "operationId" : "getGroups",
        "parameters" : [
          {
            "description" : "Range offset",
            "format" : "int32",
            "in" : "query",
            "name" : "offset",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Range limit",
            "format" : "int32",
            "in" : "query",
            "name" : "limit",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Filter string",
            "in" : "query",
            "name" : "filter",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Sort string",
            "in" : "query",
            "name" : "sort",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GroupList"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80024] Invalid range parameters.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get user groups",
        "tags" : [
          "groups"
        ]
      },
      "post" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:\nCreate a new user group.\n\n### Precondition:\nRight _\"change groups\"_ required.\n\n### Effects:\nA new group is created.\n\n### Further Information:\n* If a group should not expire, leave `expireAt` empty.\n* Group names are limited to **150** characters\n* Allowed characters: **All**",
        "operationId" : "createGroup",
        "parameters" : [
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/CreateGroupRequest"
            }
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-30020] Group must have at least 'read' right in parent room.\n* [-70510] User already in the group.\n* [-80000] Mandatory fields cannot be empty.\n* [-80005] Not valid boolean value.\n* [-80006] Expiration date is in the past.\n* [-80007] Maximum allowed length is exceeded.\n* [-80008] The year is too far in the future. Max year is limited to 9999.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "409" : {
            "description" : "Conflict\n\n* Specified group name already exists.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Create new user group",
        "tags" : [
          "groups"
        ]
      }
    },
    "/v4/groups/{group_id}" : {
      "delete" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:\nDelete a user group.\n\n### Precondition:\nRight _\"delete groups\"_ required.\n\n### Effects:\nUser group is deleted.\n\n### Further Information:\nNone.",
        "operationId" : "deleteGroup",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request\n\n* [-30040] A group which is defined as AD Import Group can not be deleted.\n* [-40006] At least one admin user/group required.\n* [-71006] At least one role user/group required.\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Delete user group",
        "tags" : [
          "groups"
        ]
      },
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve detailed information about one user group.\n\n### Precondition:\nRight _\"read groups\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.",
        "operationId" : "getGroup",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get user group",
        "tags" : [
          "groups"
        ]
      },
      "put" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:  \nUpdate the meta data of a user group.\n\n### Precondition:\nRight _\"change groups\"_ required.\n\n### Effects:\nMeta data of a user group is updated.\n\n### Further Information:\n* If a group should not expire, leave `expireAt` empty.\n* Group names are limited to **150** characters\n* Allowed characters: **All**",
        "operationId" : "updateGroup",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/UpdateGroupRequest"
            }
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-30020] Group must have at least 'read' right in parent room.\n* [-40006] At least one admin user/group required.\n* [-71006] At least one role user/group required.\n* [-80000] Mandatory fields cannot be empty.\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.\n* [-80005] Not valid boolean value.\n* [-80006] Expiration date is in the past.\n* [-80007] Maximum allowed length is exceeded.\n* [-80008] The year is too far in the future. Max year is limited to 9999.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "409" : {
            "description" : "Conflict\n\n* Specified group name already exists.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Update user group",
        "tags" : [
          "groups"
        ]
      }
    },
    "/v4/groups/{group_id}/roles" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve a list of all roles and the role assignment rights of a group.\n\n### Precondition:\nRight _\"read groups\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.",
        "operationId" : "getGroupRoles",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/RoleList"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80000] Mandatory fields cannot be empty.\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get group roles",
        "tags" : [
          "groups"
        ]
      }
    },
    "/v4/groups/{group_id}/rooms" : {
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve a list of rooms, that are granted or may be granted to the group.\n\n### Precondition:\nRight _\"read groups\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.\n\n### Filter\n\n### Filter fields:\n\n* **name**  \n    Room name  \n    OPERATOR: `cn` (multiple values not allowed)  \n    VALUE: `search string`\n\n* **isGranted**  \n    Filter rooms which the group is or is not granted  \n    OPERATOR: `eq` (multiple values not allowed)  \n    VALUE: `[true|false|any]` (default: `true`)\n\n* **effectivePerm**  \n    Filter rooms with _DIRECT_ or _DIRECT_ **AND** _EFFECTIVE_ permissions  \n    * `false`: _DIRECT_ permissions  \n    * `true`:  _DIRECT_ **AND** _EFFECTIVE_ permissions  \n    \n    > _DIRECT_ means: e.g. room administrator grants read permissions to group of users **directly** on desired room.  \n    _EFFECTIVE_ means: e.g. group of users gets read permissions on desired room through **inheritance**.  \n\n    OPERATOR: `eq` (multiple values not allowed)  \n    VALUE: `[true|false]` (default: `true`)\n\n### Example:\n* `isGranted:eq:false|name:cn:searchString`  \nGet all rooms where the group is not granted AND whose `name` is like `searchString`.",
        "operationId" : "getGroupRooms",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "Range offset",
            "format" : "int32",
            "in" : "query",
            "name" : "offset",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Range limit",
            "format" : "int32",
            "in" : "query",
            "name" : "limit",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Filter string",
            "in" : "query",
            "name" : "filter",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/RoomTreeDataList"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.\n* [-80024] Invalid range parameters.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get rooms granted to the group or/and rooms that can be granted",
        "tags" : [
          "groups"
        ]
      }
    },
    "/v4/groups/{group_id}/users" : {
      "delete" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:  \nRemove group members.\n\n### Precondition:\nRight _\"change groups\"_ required.\n\n### Effects:\nProvided users are removed from the user group.\n\n### Further Information:\nBatch function.  \nThe provided users are removed from the user group.",
        "operationId" : "deleteGroupMembers",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/ChangeGroupMembersRequest"
            }
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-71006] At least one role user/group required.\n* [-80000] Mandatory fields cannot be empty.\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.\n* [-70501] User not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Delete group members",
        "tags" : [
          "groups"
        ]
      },
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nRetrieve a list of group members.\n\n### Precondition:\nRight _\"read groups\"_ required.\n\n### Effects:\nNone.\n\n### Further Information:\nNone.\n\n### Filter\n\n### Filter fields:\n\n* **displayName**  \n    User display name (`firstName`, `lastName`, `login`)  \n    OPERATOR: `cn` (multiple values not allowed)  \n    VALUE: `search string`\n\n* **isMember**  \n    Filter the group members AND / OR users  \n    OPERATOR: `eq` (multiple values not allowed)  \n    VALUE: `[true|false|any]` (default: `true`)\n\n### Example:\n* `is_member:eq:false|displayName:cn:searchString`  \nGet all users that are not in this group AND whose display name is like `searchString`.",
        "operationId" : "getGroupUsers",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "Range offset",
            "format" : "int32",
            "in" : "query",
            "name" : "offset",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Range limit",
            "format" : "int32",
            "in" : "query",
            "name" : "limit",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Filter string",
            "in" : "query",
            "name" : "filter",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GroupUserList"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.\n* [-80024] Invalid range parameters.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Get group member users or/and users who can become a member",
        "tags" : [
          "groups"
        ]
      },
      "post" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:\nAdd members to a group.\n\n### Precondition:\nRight _\"change groups\"_ required.\n\n### Effects:\nNew members are added to the group.\n\n### Further Information:\nBatch function.  \nThe newly provided members will be added to the existing ones.",
        "operationId" : "addGroupMembers",
        "parameters" : [
          {
            "description" : "Group ID",
            "format" : "int64",
            "in" : "path",
            "name" : "group_id",
            "required" : true,
            "type" : "integer"
          },
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/ChangeGroupMembersRequest"
            }
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):\n* LOCAL\n* UTC\n* OFFSET\n* EPOCH",
            "in" : "header",
            "name" : "X-Sds-Date-Format",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          },
          "400" : {
            "description" : "Bad Request\n\n* [-70510] User already in the group.\n* [-80000] Mandatory fields cannot be empty.\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-30000] Group not found.\n* [-70501] User not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Add group members",
        "tags" : [
          "groups"
        ]
      }
    },
    "/v4/nodes" : {
      "delete" : {
        "consumes" : [
          "application/json;charset=UTF-8"
        ],
        "description" : "### Functional Description:\nDelete nodes (room, folder, file).\n\n### Precondition:\nAuthenticated user with _\"delete\"_ permissions on supplied nodes.\n\n### Effects:\nNodes are deleted.\n\n### Further Information:\nNodes must be in same parent.",
        "operationId" : "deleteNodes",
        "parameters" : [
          {
            "description" : "body",
            "in" : "body",
            "name" : "body",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/DeleteNodesRequest"
            }
          },
          {
            "description" : "Authentication token",
            "in" : "header",
            "name" : "X-Sds-Auth-Token",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json;charset=UTF-8"
        ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request\n\n* [-80000] Mandatory fields cannot be empty.\n* [-80001] Not valid positive number.\n* [-80002] Not valid number.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized\n\n* [-10012] Wrong token.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Forbidden\n\n* [-10006] User has no permissions to delete file(s).",
            "schema" : {
              "$ref" : "#/definitions/NodeBatchOperationErrorResponse"
            }
          },
          "404" : {
            "description" : "Not Found\n\n* [-41000] Node not found.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "406" : {
            "description" : "Not Acceptable\n",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "412" : {
            "description" : "Precondition Failed\n\n* [-10103] EULA must be accepted.\n* [-10104] Password must be changed.\n* [-10106] Username must be changed.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "summary" : "Delete file system nodes",
        "tags" : [
          "nodes"
        ]
      },
      "get" : {
        "consumes" : [
          "application/json"
        ],
        "description" : "### Functional Description:  \nProvides a hierarchical list of file system nodes (rooms, folders, files) of a given parent that are accessible by the current user.\n\n### Precondition:\nAuthenticated user.\n\n### Effects:\nNone.\n\n### Further Information:\n`EncryptionInfo` is not provided.\n\n### Filter\n\nFilter string syntax: `FIELD_NAME:OPERATOR:VALUE[:VALUE...]`\n\n### Fields:\n\n* **type**  \n    Node type filter  \n    OPERATOR: `eq` (multiple values allowed)  \n    VALUE: `[room|folder|file]`\n\n* **perm**  \n    Permissions filter  \n    OPERATOR: `eq` (multiple values allowed)  \n    VALUE: `[manage|read|change|create|delete|manageDownloadShare|manageUploadShare|canReadRecycleBin|canRestoreRecycleBin|canDeleteRecycleBin]`\n\n* **childPerm**  \n    The same as **perm**, but less restrictive (applied to child nodes only)  \n    OPERATOR: `eq` (multiple values allowed)  \n    VALUE: `[manage|read|change|create|delete|manageDownloadShare|manageUploadShare|canReadRecycleBin|canRestoreRecycleBin|canDeleteRecycleBin]`\n\n* **name**  \n    Node name filter  \n    OPERATOR: `cn` (name contains value, multiple values not allowed)  \n    VALUE: `Search string`\n\n* **encrypted**  \n    Node encryption status filter  \n    OPERATOR: `eq` (Node is encrypted, multiple values not allowed)  \n    VALUE: `[true|false]`\n\n* **branchVersion**  \n    Node branch version  \n    OPERATOR: `ge|le`  \n    VALUE: `version number`\n\n### Example:\n* `type:eq:room:folder|perm:eq:read`  \nGet nodes where type equals `room` OR `folder` AND user has `read` permissions.\n\n### Sort\n\nSort string syntax: `FIELD_NAME:ORDER`  \nOrder can be `asc` or `desc`.  \nMultiple fields not supported.\n\n### Sort fields:\n\n* **name**: Node name\n* **createdBy**: Creator user name\n* **createdAt**: Creation date\n* **updatedBy**: Modifier user name\n* **updatedAt**: Modification date\n* **fileType**: File type (extension)\n* **classification**: Classification ID (for files only):  \n    * 1 - public\n    * 2 - for internal use only\n    * 3 - confidential\n    * 4 - strictly confidential\n* **size**: Node size\n* **cntAdmins**: **DEPRECATED (No effect)** For rooms only: Number of admins\n* **cntUsers**: **DEPRECATED (No effect)** For rooms only: Number of users\n* **nodeCntChildren**: For rooms / folders only: Number of direct children (not recursive)\n* **cntDeletedVersions**: For files / folders only: Number of deleted versions of this file / folder (not recursive)\n\n### Example:\n* `name:desc`  \nSort by `name` descending.",
        "operationId" : "getFsNodes",
        "parameters" : [
          {
            "description" : "* 0 - top level nodes only\n* n (any positive number) - include n levels starting from the current node\n* -1 - full tree (**DEPRECATED**: will be removed)",
            "format" : "int32",
            "in" : "query",
            "name" : "depth_level",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Parent node ID.\nOnly rooms and folders can be parents.\nParent ID 0 or empty is the root node.",
            "format" : "int64",
            "in" : "query",
            "name" : "parent_id",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "Show all rooms for management perspective.\nOnly posible for _Rooms Managers_.\nFor all other users, it will be ignored.",
            "in" : "query",
            "name" : "room_manager",
            "required" : false,
            "type" : "boolean"
          },
          {
            "description" : "Filter string",
            "in" : "query",
            "name" : "filter",
            "required" : false,
[...]
