{
  "swagger" : "2.0",
  "schemes" : [
    "https",
    "http"
  ],
  "host" : "quotes.rest",
  "info" : {
    "contact" : {
      "name" : "They Said So",
      "url" : "https://theysaidso.com/api",
      "x-twitter" : "theysaidso"
    },
    "description" : " They Said So Quotes API offers a complete feature rich REST API access to its quotes platform.  This is the documentation for the world famous [quotes API](https://theysaidso.com/api).  If you are a subscriber and you are trying this from a console add 'X-TheySaidSo-Api-Secret' header and add your api key as the header value. You can test and play with the API right here on this web page. For using the private end points and subscribing to the API please visit https://theysaidso.com/api.",
    "termsOfService" : "https://theysaidso.com/terms",
    "title" : "They Said So Quotes",
    "version" : "2.1",
    "x-apisguru-categories" : [
      "open_data"
    ],
    "x-logo" : {
      "url" : "https://twitter.com/theysaidso/profile_image?size=original"
    },
    "x-origin" : [
      {
        "format" : "swagger",
        "url" : "https://quotes.rest/yaml/theysaidso-quotes.yaml",
        "version" : "2.0"
      }
    ],
    "x-providerName" : "quotes.rest"
  },
  "consumes" : [
    "application/json"
  ],
  "produces" : [
    "application/json",
    "application/xml",
    "application/js"
  ],
  "tags" : [
    {
      "description" : "Access quote of the day service. Use this to get the quote of the day in various categories. This is a free API that is available to public. You must credit They Said So if you are using the free version. ",
      "externalDocs" : {
        "description" : "Find out more",
        "url" : "https://theysaidso.com/api#qod"
      },
      "name" : "qod"
    },
    {
      "description" : "Access random quote service. Use this to get random quotes , quotes filtered by authors or tags etc. You need an API key to access this service.",
      "name" : "quote"
    },
    {
      "description" : "Access Qshow - quote collection service. Create curated quotes collection. You can group quotes by any way you want and access them as a single unit. You need an API key to access this service.",
      "name" : "qshow"
    },
    {
      "description" : "Access to beautiful quote image service",
      "externalDocs" : {
        "description" : "Find out more about image",
        "url" : "https://theysaidso.com/api#image"
      },
      "name" : "image"
    }
  ],
  "paths" : {
    "/qod" : {
      "get" : {
        "description" : "Gets `Quote of the Day`.\nOptional `category` param determines\nthe category of returned quote of the day\n",
        "parameters" : [
          {
            "description" : "QOD Category",
            "format" : "string",
            "in" : "query",
            "name" : "category",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"quotes\": [\n            {\n                \"quote\": \"Do not worry if you have built your castles in the air. They are where they should be. Now put the foundations under them.\",\n                \"length\": \"122\",\n                \"author\": \"Henry David Thoreau\",\n                \"tags\": [\n                    \"dreams\",\n                    \"inspire\",\n                    \"worry\"\n                ],\n                \"category\": \"inspire\",\n                \"date\": \"2016-11-21\",\n                \"title\": \"Inspiring Quote of the day\",\n                \"background\": \"https://theysaidso.com/img/bgs/man_on_the_mountain.jpg\",\n                \"id\": \"mYpH8syTM8rf8KFORoAJmQeF\"\n            }\n        ]\n    }\n}",
              "application/xml" : "<?xml version=\"1.0\"?>\n<response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <quotes>\n      <quote>Sometimes you climb out of bed in the morning and you think, I'm not going to make it, but you laugh inside &#x2014; remembering all the times you've felt that way.</quote>\n      <length>164</length>\n      <author>Charles Bukowski</author>\n      <tags>depression</tags>\n      <tags>inspire</tags>\n      <tags>tso-life</tags>\n      <category>inspire</category>\n      <date>2016-11-23</date>\n      <title>Inspiring Quote of the day</title>\n      <background>https://theysaidso.com/img/bgs/man_on_the_mountain.jpg</background>\n      <id>k7rTMtmveYHUN2ImwxNhhAeF</id>\n    </quotes>\n  </contents>\n</response>"
            },
            "schema" : {
              "$ref" : "#/definitions/QuoteResponse"
            }
          }
        },
        "tags" : [
          "qod"
        ]
      }
    },
    "/qod/categories" : {
      "get" : {
        "description" : "Gets a list of `Quote of the Day` Categories.\n",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/xml",
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 8\n    },\n    \"contents\": {\n        \"categories\": {\n            \"inspire\": \"Inspiring Quote of the day\",\n            \"management\": \"Management Quote of the day\",\n            \"sports\": \"Sports Quote of the day\",\n            \"life\": \"Quote of the day about life\",\n            \"funny\": \"Funny Quote of the day\",\n            \"love\": \"Quote of the day about Love\",\n            \"art\": \"Art quote of the day \",\n            \"students\": \"Quote of the day for students\"\n        },\n        \"copyright\": \"2013-15 http://theysaidso.com\"\n    }\n}           "
            }
          }
        },
        "tags" : [
          "qod"
        ]
      }
    },
    "/qshow" : {
      "delete" : {
        "description" : "Delete a qshow.\n",
        "parameters" : [
          {
            "description" : "Qshow ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/xml" : "{}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      },
      "get" : {
        "description" : "Gets a details about a qshow.\n",
        "parameters" : [
          {
            "description" : "Qshow ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"qshow\": {\n            \"title\": \"A tribute to Steve Jobs!\",\n            \"description\": \"A collection of great quotes from the master inventor Steve Jobs!\",\n            \"background\": \"https://theysaidso.com\",\n            \"language\": \"en\",\n            \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n        }\n    },\n    \"copyright\": {\n        \"year\": \"2016-18\",\n        \"url\": \"http://theysaidso.com\"\n    }\n}",
              "application/xml" : "<?xml version=\"1.0\"?>\n<response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <qshow>\n      <title>A tribute to Steve Jobs!</title>\n      <description>A collection of great quotes from the master inventor Steve Jobs!</description>\n      <background>https://theysaidso.com</background>\n      <language>en</language>\n      <id>CodzN7F_vU_URoHrPSUvDgeF</id>\n    </qshow>\n  </contents>\n  <copyright>\n    <year>2016-18</year>\n    <url>http://theysaidso.com</url>\n  </copyright>\n</response>"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                 "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      },
      "patch" : {
        "description" : "Update an existing qshow.",
        "parameters" : [
          {
            "description" : "Qshow ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Qshow title",
            "format" : "string",
            "in" : "query",
            "name" : "title",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Qshow description",
            "format" : "string",
            "in" : "query",
            "name" : "description",
            "required" : false,
            "type" : "string"
          },
          {
            "collectionFormat" : "multi",
            "description" : "Tags for the qshow",
            "in" : "query",
            "items" : {
              "type" : "string"
            },
            "name" : "tags",
            "required" : false,
            "type" : "array"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n    }\n  }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                    "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      },
      "put" : {
        "description" : "Create and add a new qshow to your private collection.",
        "parameters" : [
          {
            "description" : "Qshow title",
            "format" : "string",
            "in" : "query",
            "name" : "title",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Qshow description",
            "format" : "string",
            "in" : "query",
            "name" : "description",
            "required" : false,
            "type" : "string"
          },
          {
            "collectionFormat" : "multi",
            "description" : "Tags for the qshow",
            "in" : "query",
            "items" : {
              "type" : "string"
            },
            "name" : "tags",
            "required" : false,
            "type" : "array"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n    }\n  }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      }
    },
    "/qshow/list" : {
      "get" : {
        "description" : "Get the list of Qshows in They Said So platform.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "default" : 0,
            "description" : "Response is paged. This parameter controls where response starts the listing at",
            "format" : "int32",
            "in" : "query",
            "name" : "start",
            "required" : false,
            "type" : "integer"
          },
          {
            "default" : false,
            "description" : "Should include public qshows or not in the list",
            "format" : "boolean",
            "in" : "query",
            "name" : "public",
            "required" : false,
            "type" : "boolean"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": \"39\",\n        \"start\": 0,\n        \"limit\": 5\n    },\n    \"contents\": {\n        \"qshows\": [\n            {\n                \"title\": \"A tribute to Steve Jobs!\",\n                \"description\": \"A collection of great quotes from the master inventor Steve Jobs!\",\n                \"background\": \"/img/bgs/stevejobs.jpg\",\n                \"language\": \"en\",\n                \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n            },\n            {\n                \"title\": \"Celebrating Life!\",\n                \"description\": \"Eat, Sleep, Live your life!\",\n                \"background\": \"/img/slide-01.jpg\",\n                \"language\": \"en\",\n                \"id\": \"opDfpWwAD6lrfxdW_GBoVAeF\"\n            },\n            {\n                \"title\": \"Books \",\n                \"description\": \"Reading is the greatest pleasure for many! Here's to the bookies!\",\n                \"background\": \"/img/bgs/book.jpg\",\n                \"language\": \"en\",\n                \"id\": \"WMeCgo5WpiLk_qlbdAVyQweF\"\n            },\n            {\n                \"title\": \"Kids\",\n                \"description\": \"\",\n                \"background\": \"\",\n                \"language\": \"en\",\n                \"id\": \"sx9reMTiaGzXdt7lbVWntQeF\"\n            },\n            {\n                \"title\": \"Great quotes to live by\",\n                \"description\": \"Here are some powerful words of wisdom that inspire, educate and motivate a person to take action. \",\n                \"background\": \"/img/slide-03.jpg\",\n                \"language\": \"en\",\n                \"id\": \"k_kwBr7BKzxz3vLTQ6TWMQeF\"\n            }\n        ]\n    },\n    \"copyright\": {\n        \"year\": \"2016-18\",\n        \"url\": \"http://theysaidso.com\"\n    }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      }
    },
    "/qshow/quotes" : {
      "get" : {
        "description" : "Get the quotes in a given Qshow.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Qshow ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"qshow\": {\n            \"title\": \"A tribute to Steve Jobs!\",\n            \"description\": \"A collection of great quotes from the master inventor Steve Jobs!\",\n            \"background\": \"https://theysaidso.com/img/bgs/stevejobs.jpg\",\n            \"language\": \"en\",\n            \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n        },\n        \"quotes\": [\n            {\n                \"quote\": \"A lot of people in our industry haven't had very diverse experiences. So they don't have enough dots to connect, and they end up with very linear solutions without a broad perspective on the problem. The broader one's understanding of the human experience, the better design we will have.\",\n                \"length\": \"288\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"design\",\n                    \"diversity\",\n                    \"experience\",\n                    \"linear-thinking\"\n                ],\n                \"id\": \"6HW5Uopw8VFLRKZEqGKDXQeF\"\n            },\n            {\n                \"quote\": \"Stay hungry. Stay foolish.\",\n                \"length\": \"26\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"inspirational\"\n                ],\n                \"id\": \"K__p_L1iMZtWulJ1SH4CogeF\"\n            },\n            {\n                \"quote\": \"Your time is limited, so don't waste it living someone else's life.\",\n                \"length\": \"67\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"life-and-living\",\n                    \"tso-life\"\n                ],\n                \"id\": \"mFjh_dNB_exJMHbyzRFIvQeF\"\n            },\n            {\n                \"quote\": \"If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. And, like any great relationship, it just gets better and better as the years roll on.\",\n                \"length\": \"207\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"careers\",\n                    \"ideas\",\n                    \"ingenuity\",\n                    \"match\",\n                    \"passion\"\n                ],\n                \"id\": \"l3Cww1Bx7cYGlIpB_wZuOAeF\"\n            },\n            {\n                \"quote\": \"Details matter, it's worth waiting to get it right.\",\n                \"length\": \"51\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"apple\",\n                    \"ileadership\",\n                    \"jobs\",\n                    \"mac\",\n                    \"macintosh\",\n                    \"steve\"\n                ],\n                \"id\": \"A8gqJ6u2x3ZdUDU5VlnIxgeF\"\n            },\n            {\n                \"quote\": \"Be a yardstick of quality. Some people aren't used to an environment where excellence is expected.\",\n                \"length\": \"98\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"environment\",\n                    \"excellence\",\n                    \"people\",\n                    \"quality\"\n                ],\n                \"id\": \"rlqbJLNmDMPT_qkCpDBjEgeF\"\n            },\n            {\n                \"quote\": \"If you live each day as it was your last, someday you'll most certainly be right\",\n                \"length\": \"80\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"death\",\n                    \"rip\",\n                    \"steve\",\n                    \"tso-life\"\n                ],\n                \"id\": \"sBse0_uUemQD2l_qdL9BJgeF\"\n            },\n            {\n                \"quote\": \"Death is the destination we all share, no one has ever escaped it. And that is as it should be because death is very likely the single best invention of life.\",\n                \"length\": \"158\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"death\",\n                    \"destination\",\n                    \"invention\",\n                    \"life-and-death\",\n                    \"tso-life\"\n                ],\n                \"id\": \"LvjYLbdYzBOAqPPKfohvmQeF\"\n            },\n            {\n                \"quote\": \"Why join the navy if you can be a pirate?\",\n                \"length\": \"41\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"career\"\n                ],\n                \"id\": \"S6xVf_Nluid5r_0iO73ArQeF\"\n            },\n            {\n                \"quote\": \"One more thing...\",\n                \"length\": \"17\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"inspiration\"\n                ],\n                \"id\": \"X2QetehlwForyBZ5Nbp2YQeF\"\n            }\n        ]\n    },\n    \"copyright\": {\n        \"year\": \"2016-18\",\n        \"url\": \"http://theysaidso.com\"\n    }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      }
    },
    "/qshow/quotes/add" : {
      "post" : {
        "description" : "Add a quote to a given Qshow.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Qshow ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Quote ID to add the qshow collection",
            "format" : "string",
            "in" : "query",
            "name" : "quoteid",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      }
    },
    "/qshow/quotes/remove" : {
      "post" : {
        "description" : "Remove a quote to a given Qshow.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Qshow ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Quote ID to remove from the qshow collection",
            "format" : "string",
            "in" : "query",
            "name" : "quoteid",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
            }
          }
        },
        "tags" : [
          "qshow"
        ]
      }
    },
    "/quote" : {
      "delete" : {
        "description" : "Delete a quote. The user needs to be the owner of the quote to be able to delete it.\n",
        "parameters" : [
          {
            "description" : "Quote ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/xml" : "{}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}                      "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      },
      "get" : {
        "description" : "Gets a `Quote` with a given `id`.",
        "parameters" : [
          {
            "description" : "Quote ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"quotes\": [\n            {\n                \"quote\": \"The day soldiers stop bringing you their problems is the day you have stopped leading them. They have either lost confidence that you can help them or concluded that you do not care. Either case is a failure of leadership.\",\n                \"length\": \"222\",\n                \"author\": \"Colin Powell\",\n                \"tags\": [\n                    \"confidence\",\n                    \"leadership\",\n                    \"management\"\n                ],\n                \"category\": \"management\",\n                \"id\": \"XLa1AmylKv1XF_dXcyhvdweF\"\n            }\n        ]\n    }\n}",
              "application/xml" : "<?xml version=\"1.0\"?>\n<response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <quotes>\n      <quote>Sometimes you climb out of bed in the morning and you think, I'm not going to make it, but you laugh inside &#x2014; remembering all the times you've felt that way.</quote>\n      <length>164</length>\n      <author>Charles Bukowski</author>\n      <tags>depression</tags>\n      <tags>inspire</tags>\n      <tags>tso-life</tags>\n      <category>inspire</category>\n      <date>2016-11-23</date>\n      <title>Inspiring Quote of the day</title>\n      <background>https://theysaidso.com/img/bgs/man_on_the_mountain.jpg</background>\n      <id>k7rTMtmveYHUN2ImwxNhhAeF</id>\n    </quotes>\n  </contents>\n</response>          "
            },
            "schema" : {
              "$ref" : "#/definitions/QuoteResponse"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "tags" : [
          "quote"
        ]
      },
      "patch" : {
        "description" : "Update a quote",
        "parameters" : [
          {
            "description" : "Quote ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Quote",
            "format" : "string",
            "in" : "query",
            "name" : "quote",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Quote Author",
            "format" : "string",
            "in" : "query",
            "name" : "author",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Comma Separated tags",
            "in" : "query",
            "name" : "tags",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"0tztT1wYHRzdTf7jIccAzweF\"\n    }\n  }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      },
      "put" : {
        "description" : "Add a new quote to your private collection.",
        "parameters" : [
          {
            "description" : "Quote",
            "format" : "string",
            "in" : "query",
            "name" : "quote",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Quote Author",
            "format" : "string",
            "in" : "query",
            "name" : "author",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Comma Separated tags",
            "format" : "string",
            "in" : "query",
            "name" : "tags",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"0tztT1wYHRzdTf7jIccAzweF\"\n    }\n  }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    },
    "/quote/authors" : {
      "get" : {
        "description" : "Gets a list of author names in the system. \n",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "default" : 0,
            "description" : "Response is paged. This parameter controls where response starts the listing at",
            "format" : "int32",
            "in" : "query",
            "name" : "start",
            "required" : false,
            "type" : "integer"
          }
        ],
        "produces" : [
          "application/xml",
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 8\n    },\n    \"contents\": {\n        \"categories\": {\n            \"inspire\": \"Inspiring Quote of the day\",\n            \"management\": \"Management Quote of the day\",\n            \"sports\": \"Sports Quote of the day\",\n            \"life\": \"Quote of the day about life\",\n            \"funny\": \"Funny Quote of the day\",\n            \"love\": \"Quote of the day about Love\",\n            \"art\": \"Art quote of the day \",\n            \"students\": \"Quote of the day for students\"\n        },\n        \"copyright\": \"2013-15 http://theysaidso.com\"\n    }\n}    "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    },
    "/quote/categories" : {
      "get" : {
        "description" : "Gets a list of `Quote` Categories.\n",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "default" : 0,
            "description" : "Response is paged. This parameter controls where response starts the listing at",
            "format" : "int32",
            "in" : "query",
            "name" : "start",
            "required" : false,
            "type" : "integer"
          }
        ],
        "produces" : [
          "application/xml",
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 8\n    },\n    \"contents\": {\n        \"categories\": {\n            \"inspire\": \"Inspiring Quote of the day\",\n            \"management\": \"Management Quote of the day\",\n            \"sports\": \"Sports Quote of the day\",\n            \"life\": \"Quote of the day about life\",\n            \"funny\": \"Funny Quote of the day\",\n            \"love\": \"Quote of the day about Love\",\n            \"art\": \"Art quote of the day \",\n            \"students\": \"Quote of the day for students\"\n        },\n        \"copyright\": \"2013-15 http://theysaidso.com\"\n    }\n}    "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    },
    "/quote/image/search" : {
      "get" : {
        "description" : "Gets a Random Quote image. Optional `category` param determinesthe category of quote used in the image. Optional `author` param gets the quote image of a given author. \n",
        "parameters" : [
          {
            "description" : "Quote Category",
            "format" : "string",
            "in" : "query",
            "name" : "category",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Quote Author",
            "format" : "string",
            "in" : "query",
            "name" : "author",
            "required" : false,
            "type" : "string"
          },
          {
            "default" : false,
            "description" : "Should search private collection. Default searches public image collection.",
            "format" : "boolean",
            "in" : "query",
            "name" : "private",
            "required" : false,
            "type" : "boolean"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/xml",
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"quotes\": [\n            {\n                \"quote\": \"The day soldiers stop bringing you their problems is the day you have stopped leading them. They have either lost confidence that you can help them or concluded that you do not care. Either case is a failure of leadership.\",\n                \"length\": \"222\",\n                \"author\": \"Colin Powell\",\n                \"tags\": [\n                    \"confidence\",\n                    \"leadership\",\n                    \"management\"\n                ],\n                \"category\": \"management\",\n                \"id\": \"XLa1AmylKv1XF_dXcyhvdweF\"\n            }\n        ]\n    }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "tags" : [
          "image"
        ]
      }
    },
    "/quote/list" : {
      "get" : {
        "description" : "Get the list of quotes in your private collection.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "default" : 0,
            "description" : "Response is paged. This parameter controls where response starts the listing at",
            "format" : "int32",
            "in" : "query",
            "name" : "start",
            "required" : false,
            "type" : "integer"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": \"263\",\n        \"range\": {\n            \"start\": 0,\n            \"end\": 5\n        }\n    },\n    \"contents\": {\n        \"quotes\": [\n            {\n                \"quote\": \"I think you should defend to the death their right to march, and then go down and meet them with baseball bats.\",\n                \"length\": \"111\",\n                \"author\": \"Woody Allen\",\n                \"tags\": [],\n                \"id\": \"GkeLUydBfiAH0Tcs2w_gwAeF\"\n            },\n            {\n                \"quote\": \"We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this. ... The world will little note nor long remember what we say here, but it can never forget what they did here.\",\n                \"length\": \"310\",\n                \"author\": \"Abraham Lincoln\",\n                \"tags\": [],\n                \"id\": \"u6fD9eRFA2NFMHuEoeujaAeF\"\n            },\n            {\n                \"quote\": \"Eighty percent of success is showing up.\",\n                \"length\": \"40\",\n                \"author\": \"Woody Allen\",\n                \"tags\": [\n                    \"success\",\n                    \"tso-top-100\"\n                ],\n                \"id\": \"nLvp0vLfofW06PILxmERHgeF\"\n            },\n            {\n                \"quote\": \"Great ambition is the passion of a great character.  Those endowed with it may perform very good or very bad acts.  All depends on the principals which direct them.\",\n                \"length\": \"164\",\n                \"author\": \"Napoleon Bonaparte\",\n                \"tags\": [\n                    \"ambition\",\n                    \"inspire\",\n                    \"passion\"\n                ],\n                \"id\": \"X8juAoTtvxSEdgA0sGbYeQeF\"\n            },\n            {\n                \"quote\": \"I have had dreams, and I have had nightmares. I overcame the nightmares because of my dreams.\",\n                \"length\": \"93\",\n                \"author\": \"Dr. Jonas Salk\",\n                \"tags\": [\n                    \"dream\",\n                    \"nightmare\"\n                ],\n                \"id\": \"m_6Fj8QcXlVsQiiW7SAMLAeF\"\n            }\n        ]\n    }\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    },
    "/quote/random" : {
      "get" : {
        "description" : "Gets a `Random Quote`. When you are in a hurry this is what you call to get a random famous quote.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"quotes\": [\n            {\n                \"quote\": \"The day soldiers stop bringing you their problems is the day you have stopped leading them. They have either lost confidence that you can help them or concluded that you do not care. Either case is a failure of leadership.\",\n                \"length\": \"222\",\n                \"author\": \"Colin Powell\",\n                \"tags\": [\n                    \"confidence\",\n                    \"leadership\",\n                    \"management\"\n                ],\n                \"category\": \"management\",\n                \"id\": \"XLa1AmylKv1XF_dXcyhvdweF\"\n            }\n        ]\n    }\n}",
              "application/xml" : "<?xml version=\"1.0\"?>\n<response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <quotes>\n      <quote>Sometimes you climb out of bed in the morning and you think, I'm not going to make it, but you laugh inside &#x2014; remembering all the times you've felt that way.</quote>\n      <length>164</length>\n      <author>Charles Bukowski</author>\n      <tags>depression</tags>\n      <tags>inspire</tags>\n      <tags>tso-life</tags>\n      <category>inspire</category>\n      <date>2016-11-23</date>\n      <title>Inspiring Quote of the day</title>\n      <background>https://theysaidso.com/img/bgs/man_on_the_mountain.jpg</background>\n      <id>k7rTMtmveYHUN2ImwxNhhAeF</id>\n    </quotes>\n  </contents>\n</response>          "
            },
            "schema" : {
              "$ref" : "#/definitions/QuoteResponse"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    },
    "/quote/search" : {
      "get" : {
        "description" : "Search for a `Quote` in They Said So platform. Optional `category` , `author`, `minlength`, `maxlength` params determines the filters applied while searching for the quote. ",
        "parameters" : [
          {
            "description" : "Quote Category",
            "format" : "string",
            "in" : "query",
            "name" : "category",
            "required" : false,
            "type" : "string"
          },
          {
            "description" : "Quote Author",
            "format" : "string",
            "in" : "query",
            "name" : "author",
            "required" : false,
            "type" : "string"
          },
          {
            "default" : 1e2,
            "description" : "Quote minimum Length",
            "format" : "int32",
            "in" : "query",
            "name" : "minlength",
            "required" : false,
            "type" : "integer"
          },
          {
            "default" : 3e2,
            "description" : "Quote maximum Length",
            "format" : "int32",
            "in" : "query",
            "name" : "maxlength",
            "required" : false,
            "type" : "integer"
          },
          {
            "description" : "keyword to search for in the quote",
            "format" : "string",
            "in" : "query",
            "name" : "query",
            "required" : false,
            "type" : "string"
          },
          {
            "default" : false,
            "description" : "Should search private collection? Default searches public collection.",
            "format" : "boolean",
            "in" : "query",
            "name" : "private",
            "required" : false,
            "type" : "boolean"
          },
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"quotes\": [\n            {\n                \"quote\": \"The day soldiers stop bringing you their problems is the day you have stopped leading them. They have either lost confidence that you can help them or concluded that you do not care. Either case is a failure of leadership.\",\n                \"length\": \"222\",\n                \"author\": \"Colin Powell\",\n                \"tags\": [\n                    \"confidence\",\n                    \"leadership\",\n                    \"management\"\n                ],\n                \"category\": \"management\",\n                \"id\": \"XLa1AmylKv1XF_dXcyhvdweF\"\n            }\n        ]\n    }\n}",
              "application/xml" : "<?xml version=\"1.0\"?>\n<response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <quotes>\n      <quote>Sometimes you climb out of bed in the morning and you think, I'm not going to make it, but you laugh inside &#x2014; remembering all the times you've felt that way.</quote>\n      <length>164</length>\n      <author>Charles Bukowski</author>\n      <tags>depression</tags>\n      <tags>inspire</tags>\n      <tags>tso-life</tags>\n      <category>inspire</category>\n      <date>2016-11-23</date>\n      <title>Inspiring Quote of the day</title>\n      <background>https://theysaidso.com/img/bgs/man_on_the_mountain.jpg</background>\n      <id>k7rTMtmveYHUN2ImwxNhhAeF</id>\n    </quotes>\n  </contents>\n</response>          "
            },
            "schema" : {
              "$ref" : "#/definitions/QuoteResponse"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    },
    "/quote/tags/add" : {
      "post" : {
        "description" : "Add a tag to a given Quote.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Quote ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Comma Separated tags",
            "format" : "string",
            "in" : "query",
            "name" : "tags",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}                      "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    },
    "/quote/tags/remove" : {
      "post" : {
        "description" : "Remove a tag from a given quote.",
        "parameters" : [
          {
            "description" : "API Key",
            "format" : "string",
            "in" : "header",
            "name" : "X-TheySaidSo-Api-Secret",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Quote ID",
            "format" : "string",
            "in" : "query",
            "name" : "id",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Comma Separated tags",
            "format" : "string",
            "in" : "query",
            "name" : "tags",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "200  response",
            "examples" : {
              "application/json" : "{\n}"
            }
          },
          "401" : {
            "description" : "401  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          },
          "404" : {
            "description" : "404  response",
            "examples" : {
              "application/json" : "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}                      "
            }
          }
        },
        "tags" : [
          "quote"
        ]
      }
    }
  },
  "definitions" : {
    "NewQuote" : {
      "properties" : {
        "author" : {
          "description" : "Author name of quote.",
          "type" : "string"
        },
        "quote" : {
          "description" : "The Quote.",
          "type" : "string"
        },
        "tags" : {
          "description" : "Array of tags/categories.",
          "items" : {
            "type" : "string"
          },
          "type" : "array"
        }
      },
      "required" : [
        "quote"
      ]
    },
    "QOD" : {
      "allOf" : [
        {
          "$ref" : "#/definitions/Quote"
        },
        {
          "properties" : {
            "date" : {
              "description" : "Date this quote of the day belongs to",
              "type" : "string"
            }
          },
          "required" : [
            "date"
          ]
        }
      ]
    },
    "Quote" : {
      "allOf" : [
        {
          "$ref" : "#/definitions/NewQuote"
        },
        {
          "properties" : {
            "id" : {
              "description" : "Unique identifier representing a specific quote in theysaidso.com.",
              "type" : "string"
            },
            "image" : {
              "description" : "Image URL that can be used for background to display this quote.",
              "type" : "string"
            },
            "length" : {
              "description" : "Length of the quote string.",
              "format" : "int32",
              "type" : "integer"
            }
          },
          "required" : [
            "id"
          ]
        }
      ]
    },
    "QuoteResponse" : {
      "properties" : {
        "contents" : {
          "properties" : {
            "quotes" : {
              "description" : "List of quotes",
              "items" : {
                "$ref" : "#/definitions/Quote"
              },
              "type" : "array"
            }
          }
        },
        "success" : {
          "description" : "Metadata about this successful call",
          "type" : "string"
        }
      }
    }
  }
}