{
  "swagger" : "2.0",
  "schemes" : [
    "https"
  ],
  "host" : "api.ritekit.com",
  "basePath" : "/",
  "info" : {
    "description" : "RiteKit API is based on REST principles.\n\nAuthentication uses standard OAuth 2.0 process\n\n##Getting started\n\n1. Sign up for [RiteKit](https://ritekit.com/)\n\n1. Go to [developer dashboard](https://ritekit.com/developer/dashboard/)\n\n1. Click \"Create a token\" button to get your **Client ID** and **Client secret**\n\n1. When you reach your free limit of calls per month, [upgrade to paid tiers](https://ritekit.com/developer/)\n\n## Options for authorizing API Calls\n\n#### Using Client ID directly\n\nYou can directly connect to our API using your **client ID** by sending it as a GET query parameter. This option is simple (no need for oAuth) but it should be used only in case the Client ID is not exposed publicly.\n\nGET  https://api.ritekit.com/v1/stats/multiple-hashtags?tags=php&client_id=292c6912e7710c838347ae178b4a",
    "title" : "RiteKit",
    "version" : "1.0.0",
    "x-apisguru-categories" : [
      "social"
    ],
    "x-logo" : {
      "url" : "https://pbs.twimg.com/profile_images/781729376161366016/qdUFUsCN_400x400.jpg"
    },
    "x-origin" : [
      {
        "converter" : {
          "url" : "https://github.com/lucybot/api-spec-converter",
          "version" : "2.7.18"
        },
        "format" : "apiBlueprint",
        "url" : "https://raw.githubusercontent.com/RiteKit/api-docs/master/apiary.apib",
        "version" : "1A"
      }
    ],
    "x-providerName" : "ritekit.com"
  },
  "tags" : [
  ],
  "paths" : {
    "/v1/emoji/auto-emojify" : {
      "get" : {
        "description" : "Returns text of the post with emoji added",
        "parameters" : [
          {
            "description" : "Text of the post",
            "in" : "query",
            "name" : "text",
            "required" : true,
            "type" : "string",
            "x-example" : "Why robots may soon steal all manufacturing jobs – but it’s not all bad news"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "code" : 2e2,
                "message" : "OK",
                "result" : true,
                "text" : "Why robots may soon steal all manufacturing jobs – but it’s not all bad news 🤖🗞❓"
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Auto-Emojify",
        "tags" : [
        ]
      }
    },
    "/v1/emoji/suggestions" : {
      "get" : {
        "description" : "Returns list of emoji suggestions for a given text of the post",
        "parameters" : [
          {
            "description" : "Text of the post",
            "in" : "query",
            "name" : "text",
            "required" : true,
            "type" : "string",
            "x-example" : "Why robots may soon steal all manufacturing jobs – but it’s not all bad news"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "code" : 2e2,
                "emojis" : [
                  "🤖",
                  "🗞",
                  "❓"
                ],
                "message" : "OK",
                "result" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Emoji Suggestions",
        "tags" : [
        ]
      }
    },
    "/v1/images/animate" : {
      "get" : {
        "description" : "Returns URL of an animated GIF.",
        "parameters" : [
          {
            "description" : "URL of the company",
            "in" : "query",
            "name" : "url",
            "required" : true,
            "type" : "string",
            "x-example" : "https://jpeg.org/images/jpeg-home.jpg"
          },
          {
            "description" : "URL of the company",
            "in" : "query",
            "name" : "type",
            "required" : true,
            "type" : "string",
            "x-example" : "glint"
          }
        ],
        "produces" : [
          "image/gif"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "image/gif" : ""
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Animate Image",
        "tags" : [
        ]
      }
    },
    "/v1/images/logo" : {
      "get" : {
        "description" : "Returns a company logo based on website domain. If the logo is not in our database yet, it will be extracted from the site on the fly. White logo background is automatically removed to make the logo look better on color backgrounds.",
        "parameters" : [
          {
            "description" : "URL of the company",
            "in" : "query",
            "name" : "domain",
            "required" : true,
            "type" : "string",
            "x-example" : "google.com"
          }
        ],
        "produces" : [
          "image/png"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "image/png" : ""
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Company Logo",
        "tags" : [
        ]
      }
    },
    "/v1/images/quote" : {
      "get" : {
        "description" : "Returns URL of an image created from text according to given style parameters",
        "parameters" : [
          {
            "description" : "Text of the quote",
            "in" : "query",
            "name" : "quote",
            "required" : true,
            "type" : "string",
            "x-example" : "If you love life, don't waste time, for time is what life is made up of"
          },
          {
            "description" : "Name of the author/source",
            "in" : "query",
            "name" : "author",
            "required" : true,
            "type" : "string",
            "x-example" : "Bruce Lee"
          },
          {
            "description" : "Font size for the quote (author font size is calculated automatically)",
            "in" : "query",
            "name" : "fontSize",
            "required" : true,
            "type" : "integer",
            "x-example" : "60"
          },
          {
            "description" : "Font-family used for quote text",
            "in" : "query",
            "name" : "quoteFont",
            "required" : true,
            "type" : "string",
            "x-example" : "Lora"
          },
          {
            "description" : "Font color of the quote text",
            "in" : "query",
            "name" : "quoteFontColor",
            "required" : true,
            "type" : "string",
            "x-example" : "#4f4f4f"
          },
          {
            "description" : "Font-family used for author name",
            "in" : "query",
            "name" : "authorFont",
            "required" : true,
            "type" : "string",
            "x-example" : "Lato Black"
          },
          {
            "description" : "Font color of the author",
            "in" : "query",
            "name" : "authorFontColor",
            "required" : true,
            "type" : "string",
            "x-example" : "#e5e5e5"
          },
          {
            "description" : "Enable highlight on quote text",
            "in" : "query",
            "name" : "enableHighlight",
            "required" : true,
            "type" : "integer",
            "x-example" : "1"
          },
          {
            "description" : "Color used for highlight",
            "in" : "query",
            "name" : "highlightColor",
            "required" : true,
            "type" : "string",
            "x-example" : "#f0ea66"
          },
          {
            "description" : "Background type (gradient/solid)",
            "in" : "query",
            "name" : "bgType",
            "required" : true,
            "type" : "string",
            "x-example" : "gradient"
          },
          {
            "description" : "Background color for solid background type",
            "in" : "query",
            "name" : "backgroundColor",
            "required" : true,
            "type" : "string",
            "x-example" : "#000000"
          },
          {
            "description" : "Type of gradient background (linear/radial)",
            "in" : "query",
            "name" : "gradientType",
            "required" : true,
            "type" : "string",
            "x-example" : "linear"
          },
          {
            "description" : "First color for gradient background type",
            "in" : "query",
            "name" : "gradientColor1",
            "required" : true,
            "type" : "string",
            "x-example" : "#1ee691"
          },
          {
            "description" : "Second color for gradient background type",
            "in" : "query",
            "name" : "gradientColor2",
            "required" : true,
            "type" : "string",
            "x-example" : "#1ddad6"
          },
          {
            "description" : "URL of the brand logo",
            "in" : "query",
            "name" : "brandLogo",
            "required" : true,
            "type" : "string",
            "x-example" : "https://cdn.ritekit.com/assets/img/common/made-with-ritekit-white.png"
          },
          {
            "description" : "Animation type: none, rays, glint, circle",
            "in" : "query",
            "name" : "animation",
            "required" : true,
            "type" : "string",
            "x-example" : "glint"
          },
          {
            "description" : "showing/hiding quote mark",
            "in" : "query",
            "name" : "showQuoteMark",
            "required" : false,
            "type" : "integer"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "result" : true,
                "url" : "https://media.ritekit.com/media/images/82a4d5be-6981-4913-8018-94161a5e190e.jpeg"
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Text to Image",
        "tags" : [
        ]
      }
    },
    "/v1/link/cta" : {
      "get" : {
        "description" : "Returns list of available CTA for current user. Requires each user to authenticate with RiteKit",
        "parameters" : [
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "list" : [
                  {
                    "code" : "Bit.ly",
                    "default" : 0,
                    "id" : "bit.ly",
                    "name" : "Bit.ly"
                  },
                  {
                    "code" : "test",
                    "default" : 0,
                    "id" : 2163,
                    "name" : "test"
                  }
                ],
                "result" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List of CTAs",
        "tags" : [
        ]
      }
    },
    "/v1/link/short-link" : {
      "get" : {
        "description" : "Returns a shorten link with a given CTA.",
        "parameters" : [
          {
            "description" : "URL",
            "in" : "query",
            "name" : "url",
            "required" : true,
            "type" : "string",
            "x-example" : "https://ritekit.com"
          },
          {
            "description" : "cta id",
            "in" : "query",
            "name" : "cta",
            "required" : true,
            "type" : "integer",
            "x-example" : "6530"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "ctaId" : "6530",
                "limit" : {
                  "remaining" : 1e3
                },
                "original" : "https://ritekit.com",
                "result" : true,
                "service" : "rite.ly",
                "url" : "rite.ly/jr6e"
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Shorten Link",
        "tags" : [
        ]
      }
    },
    "/v1/search/trending" : {
      "get" : {
        "description" : "Returns list of hashtags currently trending on Twitter",
        "parameters" : [
          {
            "description" : "Restrict results only to green hashtags. Hides overused (red) hashtags.",
            "in" : "query",
            "name" : "green",
            "required" : false,
            "type" : "boolean"
          },
          {
            "description" : "Restrict results only to hashtags with latin characters",
            "in" : "query",
            "name" : "latin",
            "required" : false,
            "type" : "boolean"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "code" : 2e2,
                "message" : "OK",
                "result" : true,
                "tags" : [
                  {
                    "color" : 3,
                    "exposure" : 122017712,
                    "links" : 6537888e-7,
                    "mentions" : 2131563e-7,
                    "photos" : 2045048e-7,
                    "retweets" : 10025,
                    "tag" : "blackfriday",
                    "tweets" : 6704
                  },
                  {
                    "color" : 3,
                    "exposure" : 51914008,
                    "links" : 4114146e-7,
                    "mentions" : 1771709e-7,
                    "photos" : 327556e-6,
                    "retweets" : 9184,
                    "tag" : "happythanksgiving",
                    "tweets" : 5712
                  },
                  {
                    "color" : 3,
                    "exposure" : 5492292,
                    "links" : 9990805e-7,
                    "mentions" : 31261e-7,
                    "photos" : 283192e-7,
                    "retweets" : 179,
                    "tag" : "job",
                    "tweets" : 5438
                  },
                  {
                    "color" : 3,
                    "exposure" : 7558725,
                    "links" : 7849e-7,
                    "mentions" : 0,
                    "photos" : 7849e-7,
                    "retweets" : 104,
                    "tag" : "hadith",
                    "tweets" : 5096
                  },
                  {
                    "color" : 3,
                    "exposure" : 5989358,
                    "links" : 1435726e-7,
                    "mentions" : 4252922e-7,
                    "photos" : 1087229e-7,
                    "retweets" : 8846,
                    "tag" : "ariasharrystyles",
                    "tweets" : 4792
                  },
                  {
                    "color" : 3,
                    "exposure" : 541196,
                    "links" : 9822763e-7,
                    "mentions" : 36302e-7,
                    "photos" : 0,
                    "retweets" : 192,
                    "tag" : "mtvstars",
                    "tweets" : 4683
                  },
                  {
                    "color" : 3,
                    "exposure" : 4334317,
                    "links" : 17961e-7,
                    "mentions" : 121239e-7,
                    "photos" : 9982039e-7,
                    "retweets" : 22e2,
                    "tag" : "newprofilepic",
                    "tweets" : 4454
                  },
                  {
                    "color" : 3,
                    "exposure" : 4363421,
                    "links" : 1,
                    "mentions" : 59172e-7,
                    "photos" : 89941e-7,
                    "retweets" : 67,
                    "tag" : "hiring",
                    "tweets" : 4225
                  },
                  {
                    "color" : 3,
                    "exposure" : 11793633,
                    "links" : 803743e-7,
                    "mentions" : 2557115e-7,
                    "photos" : 195431e-7,
                    "retweets" : 446,
                    "tag" : "boxluansantana10anos",
                    "tweets" : 3633
                  },
                  {
                    "color" : 3,
                    "exposure" : 7265592,
                    "links" : 97724e-5,
                    "mentions" : 4552e-5,
                    "photos" : 959378e-7,
                    "retweets" : 358,
                    "tag" : "ad",
                    "tweets" : 3471
                  },
                  {
                    "color" : 3,
                    "exposure" : 30332321,
                    "links" : 963461e-6,
                    "mentions" : 561239e-7,
                    "photos" : 1584332e-7,
                    "retweets" : 987,
                    "tag" : "news",
                    "tweets" : 3421
                  },
                  {
                    "color" : 3,
                    "exposure" : 8032954,
                    "links" : 552941e-7,
                    "mentions" : 35294e-7,
                    "photos" : 35294e-7,
                    "retweets" : 212,
                    "tag" : "quran",
                    "tweets" : 34e2
                  },
                  {
                    "color" : 3,
                    "exposure" : 72458,
                    "links" : 1,
                    "mentions" : 0,
                    "photos" : 1,
                    "retweets" : 17,
                    "tag" : "trecru",
                    "tweets" : 32e2
                  },
                  {
                    "color" : 3,
                    "exposure" : 6195338,
                    "links" : 1,
                    "mentions" : 1421536e-7,
                    "photos" : 13132e-7,
                    "retweets" : 21,
                    "tag" : "tuitutil",
                    "tweets" : 3046
                  },
                  {
                    "color" : 3,
                    "exposure" : 4701165e1,
                    "links" : 8405505e-7,
                    "mentions" : 2349782e-7,
                    "photos" : 1285666e-7,
                    "retweets" : 4009,
                    "tag" : "rt",
                    "tweets" : 2979
                  },
                  {
                    "color" : 3,
                    "exposure" : 19059058,
                    "links" : 7874807e-7,
                    "mentions" : 3203246e-7,
                    "photos" : 70711e-6,
                    "retweets" : 1054,
                    "tag" : "np",
                    "tweets" : 2588
                  },
                  {
                    "color" : 3,
                    "exposure" : 2478625,
                    "links" : 1447261e-7,
                    "mentions" : 1054783e-7,
                    "photos" : 1210139e-7,
                    "retweets" : 14304,
                    "tag" : "indonesia",
                    "tweets" : 2446
                  },
                  {
                    "color" : 3,
                    "exposure" : 54113471,
                    "links" : 9290407e-7,
                    "mentions" : 1533071e-7,
                    "photos" : 1060009e-7,
                    "retweets" : 559,
                    "tag" : "music",
                    "tweets" : 2283
                  },
                  {
                    "color" : 3,
                    "exposure" : 5046671,
                    "links" : 9981884e-7,
                    "mentions" : 76993e-7,
                    "photos" : 303442e-7,
                    "retweets" : 42,
                    "tag" : "jobs",
                    "tweets" : 2208
                  }
                ]
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Trending Hashtags",
        "tags" : [
        ]
      }
    },
    "/v1/stats/auto-hashtag" : {
      "get" : {
        "description" : "Returns auto-hashtagged text of the post.",
        "parameters" : [
          {
            "description" : "Text of the post",
            "in" : "query",
            "name" : "post",
            "required" : true,
            "type" : "string",
            "x-example" : "Is artificial intelligence the future of customer service?"
          },
          {
            "default" : 2,
            "description" : "Max number of hashtags.",
            "in" : "query",
            "name" : "maxHashtags",
            "required" : false,
            "type" : "integer"
          },
          {
            "default" : "auto",
            "description" : "Position of hashtags: end => at the end, auto => anywhere",
            "in" : "query",
            "name" : "hashtagPosition",
            "required" : false,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "code" : 2e2,
                "message" : "OK",
                "post" : "Is #ArtificialIntelligence the future of #CustomerService?",
                "result" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Auto-Hashtag",
        "tags" : [
        ]
      }
    },
    "/v1/stats/hashtag-suggestions" : {
      "get" : {
        "description" : "Returns list of hashtag suggestions for a single-word topic or a shorter text up to 1000 characters. Takes into account both semantic relevancy and real-time hashtag popularity.",
        "parameters" : [
          {
            "description" : "Topic",
            "in" : "query",
            "name" : "text",
            "required" : true,
            "type" : "string",
            "x-example" : "seo"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "code" : 2e2,
                "data" : [
                  {
                    "color" : 3,
                    "exposure" : 5217908,
                    "hashtag" : "seo",
                    "images" : 3133333e-5,
                    "links" : 98,
                    "mentions" : 1466667e-5,
                    "retweets" : 338,
                    "tag" : "seo",
                    "tweets" : 6e2
                  }
                ],
                "hashtag" : "seo",
                "message" : "OK",
                "result" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Hashtag Suggestions",
        "tags" : [
        ]
      }
    },
    "/v1/stats/history/{hashtag}" : {
      "get" : {
        "description" : "Returns historical stats for a given hashtag from the last 30 days",
        "parameters" : [
          {
            "description" : "Hashtag without # mark",
            "in" : "path",
            "name" : "hashtag",
            "required" : true,
            "type" : "string",
            "x-example" : "job"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "code" : 2e2,
                "color" : [
                  "Unused",
                  "Overused",
                  "Good",
                  "Great"
                ],
                "data" : [
                  {
                    "color" : 3,
                    "date" : "2017-10-25",
                    "exposure" : 1604712e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 31e2,
                    "tag" : "job",
                    "tweets" : 153e3
                  },
                  {
                    "color" : 3,
                    "date" : "2017-10-26",
                    "exposure" : 1090697e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 41e2,
                    "tag" : "job",
                    "tweets" : 151e3
                  },
                  {
                    "color" : 3,
                    "date" : "2017-10-27",
                    "exposure" : 1376994e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 35e2,
                    "tag" : "job",
                    "tweets" : 1488e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-10-28",
                    "exposure" : 2350514e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 46e2,
                    "tag" : "job",
                    "tweets" : 1373e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-10-29",
                    "exposure" : 121564e3,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 0,
                    "retweets" : 35e2,
                    "tag" : "job",
                    "tweets" : 1345e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-10-30",
                    "exposure" : 1288548e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 36e2,
                    "tag" : "job",
                    "tweets" : 143e3
                  },
                  {
                    "color" : 3,
                    "date" : "2017-10-31",
                    "exposure" : 1320865e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 41e2,
                    "tag" : "job",
                    "tweets" : 1408e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-01",
                    "exposure" : 131824e3,
                    "images" : 2e-2,
                    "links" : 99e-2,
                    "mentions" : 1e-2,
                    "retweets" : 34e2,
                    "tag" : "job",
                    "tweets" : 1454e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-02",
                    "exposure" : 1845308e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 36e2,
                    "tag" : "job",
                    "tweets" : 1557e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-03",
                    "exposure" : 1446501e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 42e2,
                    "tag" : "job",
                    "tweets" : 1531e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-04",
                    "exposure" : 1097522e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 47e2,
                    "tag" : "job",
                    "tweets" : 1378e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-05",
                    "exposure" : 1356933e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 36e2,
                    "tag" : "job",
                    "tweets" : 1364e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-06",
                    "exposure" : 1562511e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 34e2,
                    "tag" : "job",
                    "tweets" : 1515e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-07",
                    "exposure" : 1720003e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 45e2,
                    "tag" : "job",
                    "tweets" : 1573e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-08",
                    "exposure" : 1797554e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 38e2,
                    "tag" : "job",
                    "tweets" : 1558e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-09",
                    "exposure" : 1460065e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 28e2,
                    "tag" : "job",
                    "tweets" : 1643e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-10",
                    "exposure" : 1094537e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 27e2,
                    "tag" : "job",
                    "tweets" : 1535e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-11",
                    "exposure" : 1031817e2,
                    "images" : 1e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 18e2,
                    "tag" : "job",
                    "tweets" : 1448e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-12",
                    "exposure" : 674156e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 8e2,
                    "tag" : "job",
                    "tweets" : 402e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-13",
                    "exposure" : 1027779e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 24e2,
                    "tag" : "job",
                    "tweets" : 1152e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-14",
                    "exposure" : 1006263e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 25e2,
                    "tag" : "job",
                    "tweets" : 1204e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-15",
                    "exposure" : 1035739e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 23e2,
                    "tag" : "job",
                    "tweets" : 1482e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-16",
                    "exposure" : 1043326e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 39e2,
                    "tag" : "job",
                    "tweets" : 153e3
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-17",
                    "exposure" : 1148905e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 26e2,
                    "tag" : "job",
                    "tweets" : 124e3
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-18",
                    "exposure" : 789345e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 19e2,
                    "tag" : "job",
                    "tweets" : 1164e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-19",
                    "exposure" : 1256041e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 26e2,
                    "tag" : "job",
                    "tweets" : 1204e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-20",
                    "exposure" : 1577307e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 34e2,
                    "tag" : "job",
                    "tweets" : 1283e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-21",
                    "exposure" : 1096226e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 0,
                    "retweets" : 31e2,
                    "tag" : "job",
                    "tweets" : 13e4
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-22",
                    "exposure" : 857552e2,
                    "images" : 2e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 17e2,
                    "tag" : "job",
                    "tweets" : 1116e2
                  },
                  {
                    "color" : 3,
                    "date" : "2017-11-23",
                    "exposure" : 1898997e2,
                    "images" : 3e-2,
                    "links" : 1,
                    "mentions" : 1e-2,
                    "retweets" : 33e2,
                    "tag" : "job",
                    "tweets" : 1314e2
                  }
                ],
                "hashtag" : "job",
                "message" : "OK",
                "result" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Hashtag History",
        "tags" : [
        ]
      }
    },
    "/v1/stats/multiple-hashtags" : {
      "get" : {
        "description" : "Returns real-time stats for up to 100 hashtags (updated hourly).",
        "parameters" : [
          {
            "description" : "Hashtag(s) without # mark",
            "in" : "query",
            "items" : {
              
            },
            "name" : "tags",
            "required" : true,
            "type" : "array",
            "x-example" : "jobs,hello"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "code" : 2e2,
                "color" : [
                  "Unused",
                  "Overused",
                  "Good",
                  "Great"
                ],
                "hashtags" : [
                  "jobs",
                  "hello"
                ],
                "message" : "OK",
                "result" : true,
                "stats" : [
                  {
                    "color" : 3,
                    "exposure" : 5046671,
                    "hashtag" : "jobs",
                    "images" : 303442e-7,
                    "links" : 9981884e-7,
                    "mentions" : 76993e-7,
                    "retweets" : 42,
                    "tag" : "jobs",
                    "tweets" : 2208
                  },
                  {
                    "color" : 2,
                    "exposure" : 5254,
                    "hashtag" : "hello",
                    "images" : 5714286e-7,
                    "links" : 3809524e-7,
                    "mentions" : 1904762e-7,
                    "retweets" : 12,
                    "tag" : "hello",
                    "tweets" : 21
                  }
                ]
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Hashtag Stats",
        "tags" : [
        ]
      }
    },
    "/v2/instagram/hashtags-cleaner" : {
      "get" : {
        "description" : "Remove banned hashtags before posting to Instagram",
        "parameters" : [
          {
            "description" : "post",
            "in" : "query",
            "name" : "post",
            "required" : true,
            "type" : "string",
            "x-example" : "#instaphotography #instabeauty #instagirls #instanature #instagirl #photography #beauty #girls #nature #girl #sky #water #lady #ladies #woman #women #photograph #photographs #beauties #sunlight #sitting #waters #skies #sit #photographies"
          }
        ],
        "produces" : [
          "application/json; charset=utf-8"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json; charset=utf-8" : {
                "bannedHashtags" : [
                  "#instagirl",
                  "#woman",
                  "#women"
                ],
                "message" : "OK",
                "post" : "#instaphotography #instabeauty #instagirls #instanature #photography #beauty #girls #nature #girl #sky #water #lady #ladies #photograph #photographs #beauties #sunlight #sitting #waters #skies #sit #photographies",
                "result" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Hashtags cleaner",
        "tags" : [
        ]
      }
    }
  },
  "definitions" : {
    "Emojis" : {
      
    },
    "Hashtags" : {
      
    },
    "Images" : {
      
    },
    "Instagram" : {
      
    },
    "Link_shortening" : {
      
    }
  }
}