{
  "swagger" : "2.0",
  "schemes" : [
    "https"
  ],
  "host" : "ssapi.shipstation.com",
  "basePath" : "/",
  "info" : {
    "description" : "# Integrating with ShipStation\n\nShipStation strives to streamline shipping for online sellers, no matter where they sell their products online. We are continuously adding new marketplaces, shopping carts, and integration tools, because we know the e-commerce space is growing. \nAs a result, we’ve worked hard to provide developer resources to build custom integrations with ShipStation.  If you’re interested in becoming a partner of ours, drop us a line by [filling out this form](http://www.shipstation.com/partners/shipstation-api-custom-store/) and we’ll get in touch.\n\nThere are two methods to integrate with ShipStation:\n\n* Custom Store Integration\n\n* ShipStation API\n\n## Custom Store Integration\n\nLooking for a more 1-to-1 relationship between ShipStation and your chosen selling platform? The Custom Store Integration is the ticket. Our custom store integration is just like any of our other selling channel integration, and could be eligible (based on internal review) as a branded option within the ShipStation admin. It also allows the user to sync orders within ShipStation in a single click, in addition to ShipStation automatically sending shipment status and tracking information \nupdates back to your cart or marketplace once a label is created. It’s the best way to sync up orders with ShipStation and have the most seamless experience.\n\nThe Custom Store allows you to perform two major functions:\n\n* Provide order information to ShipStation, including recipient address, products, customers, etc.\n\n* Receive tracking information when an order is shipped, including shipping method, shipping status, tracking number, and more\n\nTo integrate with the Custom Store, you must expose a web page that renders XML that adheres to the specification defined in the Custom Store Integration Guide. \nWe refer to this page as your “XML Endpoint”. If you can provide us an XML Endpoint, we can *pull* data from your endpoint just like we do with other marketplaces like eBay and Amazon.\n\n**To find out more about our Custom Store Integration, click here: [Custom Store Integration Guide](https://help.shipstation.com/hc/en-us/articles/205928478)**\n\n## ShipStation API\n\nOur API is available for any plan, and allows for read access to almost all data in your account, and write access to create specific objects, like Orders, Customers, and Products. \nThe API is a great way to get data directly to and from ShipStation, like creating products, customers, and querying order & shipping data. Please note that an API integration will not allow you to use your own MarketplaceID that could eventually be branded with your company's logo (see the Custom Store Integration above for that functionality).\n\n**This API allows developers to build applications that interface with the ShipStation platform. The API can be used to automate many tasks including:**\n\n+ Managing Orders\n\n+ Managing Shipments\n\n+ Creating Shipping Labels\n\n+ Retrieving Shipping Rates\n\n+ and more!!!\n\n**To learn more about our API, please review our API documentation below.**\n\n## Which one should I pick?\n\nThe method that's right for your integration very much depends on the type of integration you're planning on implementing. A Custom Store allows ShipStation to *pull* order information from your platform the very same way we *pull* data from marketplaces such as eBay, Amazon, and Shopify. Once an order has been shipped in ShipStation, ShipStation automatically *pushes* tracking information back to your custom store. Though the functionality afforded by this approach is limited to these 2 main functions, much of the *heavy lifting* is performed by ShipStation. Importing orders \nand sending tracking information is performed automatically by ShipStation, as long as your XML endpoint is available to receive our data.\n\nAn API integration, on the other hand, exposes much more functionality, but requires that the developer do much of the heavy lifting. Orders must be *pushed* to ShipStation by using our \"/orders/CreateOrder\" endpoint.  The API allows developers to perform functions such as tagging an order, \nshipping an order, creating a shipping label (without an order), retrieving shipping rates, adding funds to a carrier account, creating a warehouse, listing products, and much more.  The functionality the API affords are typical actions that a user would perform if using the web app.\n\n### Considerations\n\n* **Will your integration be the main order management tool for the online seller?**  If so, the API's broader range of functionality may be the best option.\n\n* **Would you like your store integration to be a branded marketplace within the ShipStation admin?** When you integrate using the Custom Store Integration, you could be eligible to have your company branded within the ShipStation admin. A branded store could have the plugin's logo in the app,\nas well as an easier store setup, order sync, and reporting. Please note, ShipStation makes the final decision, based on integration and partner requirements, on which custom stores are branded within our application.\n\n# ShipStation API Requirements\n\n## End Point\n\nEndpoints are located at the following domain https://ssapi.shipstation.com/ and will need to have a specific reference added to return data. PLEASE NOTE: You cannot access this URL directly and must reference one of the specific endpoints below.\n\n## Authentication\n\nThe ShipStation API uses [Basic HTTP authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). Use your ShipStation ``API Key`` as the username and ``API Secret`` as the password.  You can find your ``API Key`` as the username and ``API Secret`` under Settings at https://ss.shipstation.com/#/settings/api .\n\nThe Authorization header is constructed as follows:\n\n+ Username (``API KEY``) and password (``API Secret``) are combined into a string \"username:password\"\n\n+ The resulting string is then encoded using the RFC2045-MIME variant of Base64, except not limited to 76 char/line\n\n+ The authorization method and a space i.e. \"Basic \" is then put before the encoded string.\n\nFor example, if the ``API KEY`` given is 'ShipStation' and the ``API Secret`` is 'Rocks' then the header is formed as follows:\n\n+ Authorization: Basic U2hpcFN0YXRpb246Um9ja3M=\n\n## API Rate Limits\n\nIn an effort to ensure consistent application performance and increased scalability, we have implemented rate limiting on the ShipStation API.  Your integration will need to be able to handle HTTP rate limiting status messages as defined below:\n\n**Response Headers**\n\nAll responses will include headers with status information about rate limiting.\n\n1. X-Rate-Limit-Limit: the maximum number of requests per minute to the endpoint\n\n2. X-Rate-Limit-Remaining: the available requests remaining in the current window\n\n3. X-Rate-Limit-Reset: the number of seconds remaining until the next window begins\n\n**Hitting the Limit**\n\nIf your application hits the rate limit, an HTTP 429 will be returned with this body:\n\n```\n{\n    \"message\": \"Too Many Requests\"\n}\n```\n\nAnd these headers, assuming it is 40 seconds into the current window:\n\n```\n{\n    \"X-Rate-Limit-Limit\": 60,\n    \"X-Rate-Limit-Remaining\": 0,\n    \"X-Rate-Limit-Reset\": 20\n}\n```\n\nWhen the limit is reached, your application should stop making requests until X-Rate-Limit-Reset seconds have elapsed. The current Rate limit for each set of the API Key and Secret is 40 requests per minute.\n\nIf you have any issues with the API, please email us at <apisupport@shipstation.com>\n\n## Server Responses\n\nStatus Code | Description\n------------|-------------\n``200`` | OK - The request was successful (some API calls may return 201 instead).\n``201`` | Created - The request was successful and a resource was created.\n``204`` | No Content - The request was successful but there is no representation to return (that is, the response is empty).\n``400`` | Bad Request -  The request could not be understood or was missing required parameters.\n``401`` | Unauthorized -  Authentication failed or user does not have permissions for the requested operation.\n``403`` | Forbidden - Access denied.\n``404`` | Not Found -  Resource was not found.\n``405`` | Method Not Allowed -  Requested method is not supported for the specified resource.\n``429`` | Too Many Requests - Exceeded ShipStation API limits. When the limit is reached, your application should stop making requests until X-Rate-Limit-Reset seconds have elapsed.\n``500`` | Internal Server Error - ShipStation has encountered an error.\n\n## DateTime Format and Time Zone\n\nShipStation uses the ISO 8601 combined format for dateTime stamps being submitted to and returned from the API. Please be sure to submit all dateTime values as follows:\n\nyyyy-mm-dd hh:mm:ss (24 hour notation). Example - ``2016-11-29 23:59:59``\n\nThe time zone represented in all API responses is PST/PDT. Similarly, ShipStation asks that you make all time zone convertions and submit any dateTime requests in PST/PDT.",
    "title" : "ShipStation Developer Portal",
    "version" : "1.0.0",
    "x-apisguru-categories" : [
      "ecommerce"
    ],
    "x-logo" : {
      "url" : "https://twitter.com/ShipStation/profile_image?size=original"
    },
    "x-origin" : [
      {
        "converter" : {
          "url" : "https://github.com/lucybot/api-spec-converter",
          "version" : "2.7.18"
        },
        "format" : "apiBlueprint",
        "url" : "https://shipstation.docs.apiary.io/api-description-document",
        "version" : "1A"
      }
    ],
    "x-providerName" : "shipstation.com"
  },
  "tags" : [
    {
      "name" : "Accounts"
    },
    {
      "name" : "Carriers"
    },
    {
      "name" : "Customers"
    },
    {
      "name" : "Fulfillments"
    },
    {
      "description" : "# Orders\n\n## Model: [**Order**](https://www.shipstation.com/developer-api/#/reference/model-order)",
      "name" : "Orders"
    },
    {
      "description" : "## Products\n\n## Model: [**Product**](http://www.shipstation.com/developer-api/#/reference/model-product)",
      "name" : "Products"
    },
    {
      "name" : "Shipments"
    },
    {
      "name" : "Stores"
    },
    {
      "name" : "Users"
    },
    {
      "name" : "Warehouses"
    },
    {
      "name" : "Webhooks"
    },
    {
      "description" : "Name               |Data Type          |Description        \n-------------------|-------------------|-------------------\n``name``|string|Name of person.\n``company``|string|Name of company.\n``street1``|string|First line of address.\n``street2``|string|Second line of address.\n``street3``|string|Third line of address.\n``city``|string|City\n``state``|string|State\n``postalCode``|string|Postal Code\n``country``|string|Country Code.  The two-character ISO country code is required.\n``phone``|string|Telephone number.\n``residential``|boolean|Specifies whether the given address is residential.\n``addressVerified``|string| Identifies whether the address has been verified by ShipStation (read only).  Possible values: ``Address not yet validated``, ``Address validated successfully``, ``Address validation warning``, ``Address validation failed``.",
      "name" : "Model - Address"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``warehouseId``|number|Specifies the warehouse where to the order is to ship from. If the order was fulfilled using a fill provider, no warehouse is attached to these orders and will result in a `null` value being returned. *Please see note below\n``nonMachinable``|boolean|Specifies whether the order is non-machinable.\n``saturdayDelivery``|boolean|Specifies whether the order is to be delivered on a Saturday.\n``containsAlcohol``|boolean|Specifies whether the order contains alcohol.\n``storeId``|number|ID of store that is associated with the order. If not specified in the CreateOrder call either to create or update an order, ShipStation will default to the first manual store on the account. Can only be specified during order creation.\n``customField1``|string|Field that allows for custom data to be associated with an order. *Please see note below\n``customField2``|string|Field that allows for custom data to be associated with an order. *Please see note below\n``customField3``|string|Field that allows for custom data to be associated with an order. *Please see note below\n``source``|string|Identifies the original source/marketplace of the order. *Please see note below\n``mergedOrSplit``|boolean|Read-Only: Returns whether or not an order has been merged or split with another order. Read Only\n``mergedIds``|number[]|Read-Only: Array of orderIds.  Each orderId identifies an order that was merged with the associated order. Read Only\n``parentId ``|number|Read-Only: If an order has been split, it will return the Parent ID of the order with which it has been split. If the order has not been split, this field will return null. Read Only\n``billToParty``|string|Identifies which party to bill.  Possible values: \"my_account\", **\"my_other_account\" (see ** note below), \"recipient\", \"third_party\". billTo values can only be used when creating/updating orders.\n``billToAccount``|string|Account number of billToParty. billTo values can only be used when creating/updating orders.\n``billToPostalCode``|string|Postal Code of billToParty. billTo values can only be used when creating/updating orders.\n``billToCountryCode``|string|Country Code of billToParty. billTo values can only be used when creating/updating orders.\n``billToMyOtherAccount``|string|When using my_other_account billToParty value, the shippingProviderId value associated with the desired account. Make a List Carriers call to obtain shippingProviderId values.\n\nNOTES:\n\n- CreateLabelForOrder will not affect billTo values. Calls will default billTo fields to the values set in the order.\n\n- **Setting \"billToParty\" attribute to \"my_other_account\" is used when wanting to charge a second connected account for the same carrier.",
      "name" : "Model - AdvancedOptions"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``customsItemId``|string|Read Only field. When this field is not submitted in the Order/CreateOrder call, it will create a new customs line. If this field is included when submitting an order through Order/CreateOrder, then it will look for the corresponding customs line and update any values.\n``description``|string|A short description of the CustomsItem\n``quantity``|number|The quantity for this line item\n``value``|number|The value (in USD) of the line item\n``harmonizedTariffCode``|string| The Harmonized Commodity Code for this line item\n``countryOfOrigin``|string| The 2-character ISO country code where the item originated",
      "name" : "Model - CustomsItem"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``length``|number| Length of package.\n``width``|number|Width of package.\n``height``|number|Height of package.\n``units``|string| Units of measurement.  Allowed units are: ``\"inches\"``, or ``\"centimeters\"``",
      "name" : "Model - Dimensions"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``provider``|string| Preferred Insurance provider.  Available options: \"shipsurance\", \"carrier\", or \"provider\". The \"provider\" option is used to indicate that a shipment was insured by a third party other than ShipSurance or the carrier. The insurance is handled outside of ShipStation, and will not affect the cost of processing the label.\n``insureShipment``|boolean| Indicates whether shipment should be insured.\n``insuredValue``|number| Value to insure.",
      "name" : "Model - InsuranceOptions"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``contents``|string|Contents of international shipment.  Available options are: ``\"merchandise\"``, ``\"documents\"``, ``\"gift\"``, ``\"returned_goods\"``, or ``\"sample\"``\n``customsItems``|[**CustomsItem[]**](https://www.shipstation.com/developer-api/#/reference/model-customsitem)|An array of customs items. Please note: If you wish to supply customsItems in the CreateOrder call and have the values not be overwritten by ShipStation, you must have the International Settings > Customs Declarations set to \"Leave blank (Enter Manually)\" in the UI: https://ss.shipstation.com/#/settings/international\n``nonDelivery``|string|Non-Delivery option for international shipment.  Available options are: ``\"return_to_sender\"`` or ``\"treat_as_abandoned\"``.  Please note: If the shipment is created through the Orders/CreateLabelForOrder endpoint and the nonDelivery field is not specified then value defaults based on the International Setting in the UI.  If the call is being made to the Shipments/CreateLabel endpoint and the nonDelivery field is not specified then the value will default to ``\"return_to_sender\"``.",
      "name" : "Model - InternationalOptions"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``name``|string|Name of item option. Example: \"Size\"\n``value``|string|The value of the item option. Example: \"Medium\"",
      "name" : "Model - ItemOption"
    },
    {
      "description" : "Name               |Data Type          |Description        \n-------------------|-------------------|-------------------\n``orderId``|number|The system generated identifier for the order.  This is a read-only field.\n``orderNumber``|string| A user-defined order number used to identify an order.\n``orderKey``|string|A user-provided key that should be unique to each order. Can only be initalized during order creation. If the orderkey isn't specified during creation, a unique value will be generated and assigned to the order.\n``orderDate``|string|The date the order was placed.\n``createDate``|string|The timestamp the order was created in ShipStation's database. Read-Only.\n``modifyDate``|string|The timestamp the order was modified in ShipStation. ``modifyDate`` will equal ``createDate`` until a modification is made. Read-Only.\n``paymentDate``|string|The date the order was paid for.\n``shipByDate``|string|The date the order is to be shipped before or on. This field is a suggested value generated by the order source/platform/cart and passed to ShipStation. Not all ShipStation integrations support this field and will show ``null`` if absent.\n``orderStatus``|string|The order's status.  Possible values: \"awaiting_payment\", \"awaiting_shipment\", \"shipped\", \"on_hold\", \"cancelled\"\n``customerId``|number|Unique identifier for the customer. Generated by ShipStation the first time the customer record is created. Read-Only\n``customerUsername``|string|Identifier for the customer in the originating system. This is typically a username or email address.\n``customerEmail``|string|The customer's email address.\n``billTo``|[**Address**](https://www.shipstation.com/developer-api/#/reference/model-address)|The recipients billing address. \n``shipTo``|[**Address**](https://www.shipstation.com/developer-api/#/reference/model-address)|The recipients shipping address. \n``items``|[**OrderItem[]**](https://www.shipstation.com/developer-api/#/reference/model-orderitem)|Array of purchased items.\n``orderTotal``|number|The order total. Please note is this a read-only field.\n``amountPaid``|number|The total amount paid for the Order.\n``taxAmount``|number|The total tax amount for the Order.\n``shippingAmount``|number|Shipping amount paid by the customer, if any.\n``customerNotes``|string|Notes left by the customer when placing the order.\n``internalNotes``|string|Private notes that are only visible to the seller.\n``gift``|boolean|Specifies whether or not this Order is a gift\n``giftMessage``|string|Gift message left by the customer when placing the order.\n``paymentMethod``|string|Method of payment used by the customer.\n``requestedShippingService``|string|Identifies the shipping service selected by the customer when placing this order. This value is given to ShipStation by the marketplace/cart. If value is \"null\" then the marketplace or cart does not support this field in ShipStation.\n``carrierCode``|string|The code for the carrier that is to be used(or was used) when this order is shipped(was shipped).\n``serviceCode``|string|The code for the shipping service that is to be used(or was used) when this order is shipped(was shipped).\n``packageCode``|string|The code for the package type that is to be used(or was used) when this order is shipped(was shipped).\n``confirmation``|string|The type of delivery confirmation that is to be used(or was used) when this order is shipped(was shipped).\n``shipDate``|string|The date the order was shipped.\n``holdUntilDate``|string|If placed on hold, this date is the expiration date for this order's hold status.  The order is moved back to awaiting_shipment on this date.\n``weight``|[**Weight**](https://www.shipstation.com/developer-api/#/reference/model-weight)|Weight of the order.\n``dimensions``|[**Dimensions**](https://www.shipstation.com/developer-api/#/reference/model-dimensions)|Dimensions of the order.\n``insuranceOptions``|[**InsuranceOptions**](https://www.shipstation.com/developer-api/#/reference/model-insuranceoptions)|The shipping insurance information associated with this order.\n``internationalOptions``|[**InternationalOptions**](https://www.shipstation.com/developer-api/#/reference/model-internationaloptions)|Customs information that can be used to generate customs documents for international orders.\n``advancedOptions``|[**AdvancedOptions**](https://www.shipstation.com/developer-api/#/reference/model-advancedoptions)|Various advanced options that may be available depending on the shipping carrier that is used to ship the order.\n``tagIds``|number[]|Array of tagIds.  Each tagId identifies a tag that has been associated with this order.\n``userId``|string|User assigned to Order/Shipment in the GUID. Read-Only.\n``externallyFulfilled``|boolean|States whether the order has is current marked as externally fulfilled by the marketplace. A common example is when an Amazon order is marked an Amazon Fulfilled Network (AFN). If the order is an AFN then this element will be true. Read-Only.\n``externallyFulfilledBy``|string|If ``externallFulfilled`` is true then this string will return how the order is being fulfilled by the marketplace. Read-Only.",
      "name" : "Model - Order"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderItemId``|number| The system generated identifier for the OrderItem. This is a read-only field.\n``lineItemKey``|string| An identifier for the OrderItem in the originating system.\n``sku``|string| The SKU (stock keeping unit) identifier for the product associated with this line item.\n``name``|string| The name of the product associated with this line item. Cannot be ``null``\n``imageUrl``|string|The public URL to the product image.\n``weight``|[**Weight**](https://www.shipstation.com/developer-api/#/reference/model-weight)|The weight of a single item.\n``quantity``|number|The quantity of product ordered.\n``unitPrice``|number|The sell price of a single item specified by the order source.\n``taxAmount``|number|The tax price of a single item specified by the order source.\n``shippingAmount``|number|The shipping amount or price of a single item specified by the order source.\n``warehouseLocation``|string|The location of the product within the seller's warehouse (e.g. Aisle 3, Shelf A, Bin 5)\n``options``|[**ItemOption[]**](https://www.shipstation.com/developer-api/#/reference/model-itemoption)|\n``productId``|number|The identifier for the Product Resource associated with this OrderItem.\n``fulfillmentSku``|string|The fulfillment SKU associated with this OrderItem if the fulfillment provider requires an identifier other then the SKU.\n``adjustment``|boolean| Indicates that the OrderItem is a non-physical adjustment to the order (e.g. a discount or promotional code)\n``upc``|string|The Universal Product Code associated with this OrderItem.\n``createDate``|string|The timestamp the orderItem was created in ShipStation's database. Read-Only.\n``modifyDate``|string|The timestamp the orderItem was modified in ShipStation. ``modifyDate`` will equal ``createDate`` until a modification is made. Read-Only.",
      "name" : "Model - OrderItem"
    },
    {
      "description" : "Name               |Data Type          |Description        \n-------------------|-------------------|-------------------\n``productId``|number|The system generated identifier for the product.  This is a read-only field.\n``sku``|string|Stock keeping Unit. A user-defined value for a product to help identify the product. It is suggested that each product should contain a unique SKU.\n``name``|string|Name or description of the product.\n``price``|number|The unit price of the product.\n``defaultCost``|number|The seller's cost for this product.\n``length``|number|The length of the product. Unit of measurement is UI dependent. No conversions will be made from one UOM to another. See our knowledge base [**here**](https://help.shipstation.com/hc/en-us/articles/206639187) for more details.\n``width``|number|The width of the product. Unit of measurement is UI dependent. No conversions will be made from one UOM to another. See our knowledge base [**here**](https://help.shipstation.com/hc/en-us/articles/206639187) for more details.\n``height``|number|The height of the product. Unit of measurement is UI dependent. No conversions will be made from one UOM to another. See our knowledge base [**here**](https://help.shipstation.com/hc/en-us/articles/206639187) for more details.\n``weightOz``|number|The weight of a single item in ounces.\n``internalNotes``|string|Seller's private notes for the product.\n``fulfillmentSku``|string|Stock keeping Unit for the fulfillment of that product by a 3rd party.\n``createDate``|string|The timestamp the product record was created in ShipStation's database. Read-Only.\n``modifyDate``|string|The timestamp the product record was modified in ShipStation. Read-Only.\n``active``|boolean|Specifies whether or not the product is an active record. \n``productCategory``|[**ProductCategory**](https://www.shipstation.com/developer-api/#/reference/model-product-category)|The Product Category used to organize and report on similar products. See our knowledge base [**here**](https://help.shipstation.com/hc/en-us/articles/206639217) for more information on Product Categories.\n``productType``|string|Specifies the product type. See our knowledge base [**here**](https://help.shipstation.com/hc/en-us/articles/209157678) for more information on Product Types.\n``warehouseLocation``|string|The warehouse location associated with the product record.\n``defaultCarrierCode``|string|The default domestic shipping carrier for this product.\n``defaultServiceCode``|string|The default domestic shipping service for this product.\n``defaultPackageCode``|string|The default domestic packageType for this product.\n``defaultIntlCarrierCode``|string|The default international shipping carrier for this product.\n``defaultIntlServiceCode``|string|The default international shipping service for this product.\n``defaultIntlPackageCode``|string|The default international packageType for this product.\n``defaultConfirmation``|string|The default domestic Confirmation type for this Product.\n``defaultIntlConfirmation``|string|The default international Confirmation type for this Product.\n``customsDescription``|string|The default customs Description for the product.\n``customsValue``|number|The default customs Declared Value for the product.\n``customsTariffNo``|string|The default Harmonized Code for the Product.\n``customsCountryCode``|string|The default 2 digit ISO Origin Country for the Product.\n``noCustoms``|boolean|If ``true``, this product will not be included on international customs forms.\n``tags``|[**ProductTag**](https://www.shipstation.com/developer-api/#/reference/model-product-tag)|The Product Tag used to organize and visually identify products. See our knowledge base [**here**](https://help.shipstation.com/hc/en-us/articles/206639227) for more information on Product Defaults and tags.",
      "name" : "Model - Product"
    },
    {
      "description" : "Name               |Data Type          |Description        \n-------------------|-------------------|-------------------\n``categoryId``|number|The system generated identifier for the product category.\n``name``|string|Name or description for the product category.",
      "name" : "Model - Product Category"
    },
    {
      "description" : "Name               |Data Type          |Description        \n-------------------|-------------------|-------------------\n``tagId``|number|The system generated identifier for the product tag.\n``name``|string|Name or description for the product tag.",
      "name" : "Model - Product Tag"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``resource_url``|string|This URL can be used to get the resource which triggered the webhook. 200 character limit. The URL can be accessed with ShipStation API Basic Authentication credentials.\n``resource_type``|string|The event type that triggered the webhook. Will be one of the following values: ORDER_NOTIFY, ITEM_ORDER_NOTIFY, SHIP_NOTIFY, ITEM_SHIP_NOTIFY",
      "name" : "Model - Webhook"
    },
    {
      "description" : "Name               |Data Type          |Description\n-------------------|-------------------|-------------------\n``value``|number|weight value.\n``units``|string|units of weight.  Allowed units are: ``\"pounds\"``, ``\"ounces\"``, or ``\"grams\"``\n``WeightUnits``|number|(read only) A numeric value that is equivalent to the above units field.",
      "name" : "Model - Weight"
    }
  ],
  "paths" : {
    "/accounts/listtags" : {
      "get" : {
        "description" : "Lists all tags defined for this account.",
        "parameters" : [
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : [
                {
                  "color" : "#800080",
                  "name" : "Backorder",
                  "tagId" : 8362
                },
                {
                  "color" : "#ff0000",
                  "name" : "Canada",
                  "tagId" : 8324
                },
                {
                  "color" : "#33CCCC",
                  "name" : "Fragile",
                  "tagId" : 8336
                },
                {
                  "color" : "#CC99FF",
                  "name" : "Repeat Buyer",
                  "tagId" : 8221
                }
              ]
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Tags",
        "tags" : [
          "Accounts"
        ]
      }
    },
    "/accounts/registeraccount" : {
      "post" : {
        "description" : "Creates a new ShipStation account and generates an apiKey and apiSecret to be used by the newly created account. PLEASE NOTE: This endpoint does not require API key and API Secret credentials.  The Authorization header can be left off. Use of this specific endpoint requires approval, and is meant only for direct partners of ShipStation. This is the only endpoint to require approval. All other endpoints listed in this document can be accessed by submitting proper authorization credentials in the header of the request. To become a direct partner of ShipStation, or to request more information on becoming a direct partner, we recommend reaching out to our Partners and Integrations team here: https://info.shipstation.com/become-a-partner-api-and-custom-store-integrations\n\nThe body of this request has the following attributes:\n\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``firstName``  | string, required | First Name\n``lastName`` | string, required | Last Name\n``email`` | string, required | Email address. This will also be the username of the account.\n``password`` | string, required | Password to set for account access.\n``companyName`` | string, optional | Name of Company.\n``addr1`` | string, optional | Company Address - Street 1\n``addr2`` | string, optional | Company Address - Street 2\n``city`` | string, optional | Company Address - City\n``state`` | string, optional | Company Address - State \n``zip`` | string, optional | Company Address - Zip Code\n``countryCode`` |string, optional | Company Address - Country.  Please use a 2-character country code.\n``phone`` | string, optional | Company Phone number.",
        "parameters" : [
          {
            "in" : "body",
            "name" : "body",
            "schema" : {
              "example" : {
                "addr1" : "542 Midichlorian Rd.",
                "addr2" : "",
                "city" : "Austin",
                "companyName" : "Droid Repair LLC",
                "countryCode" : "US",
                "email" : "jsmithtest@gmail.com",
                "firstName" : "John",
                "lastName" : "Smith",
                "password" : "testpw1234",
                "phone" : "5124111234",
                "shippingOriginCountryCode" : "US",
                "state" : "TX",
                "zip" : "78703"
              },
              "properties" : {
                "addr1" : {
                  "type" : "string"
                },
                "addr2" : {
                  "type" : "string"
                },
                "city" : {
                  "type" : "string"
                },
                "companyName" : {
                  "type" : "string"
                },
                "countryCode" : {
                  "type" : "string"
                },
                "email" : {
                  "type" : "string"
                },
                "firstName" : {
                  "type" : "string"
                },
                "lastName" : {
                  "type" : "string"
                },
                "password" : {
                  "type" : "string"
                },
                "phone" : {
                  "type" : "string"
                },
                "shippingOriginCountryCode" : {
                  "type" : "string"
                },
                "state" : {
                  "type" : "string"
                },
                "zip" : {
                  "type" : "string"
                }
              },
              "type" : "object"
            }
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "apiKey" : "abcdt9845hjmgfklj3498gkljdkuyekl",
                "apiSecret" : "1234iou983lkj8mnxgfwu509hkhdy7u3",
                "message" : "ShipStation account created.",
                "sellerId" : 123456,
                "success" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Register Account",
        "tags" : [
          "Accounts"
        ]
      }
    },
    "/carriers" : {
      "get" : {
        "description" : "Lists all shipping providers connected to this account.",
        "parameters" : [
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : [
                {
                  "accountNumber" : "SS123",
                  "balance" : 2427e-2,
                  "code" : "stamps_com",
                  "name" : "Stamps.com",
                  "primary" : true,
                  "requiresFundedAccount" : true,
                  "shippingProviderId" : 12345
                },
                {
                  "accountNumber" : "SS1234",
                  "balance" : 240027e-2,
                  "code" : "stamps_com",
                  "name" : "Stamps.com",
                  "nickname" : "Stamps.com 2",
                  "primary" : false,
                  "requiresFundedAccount" : true,
                  "shippingProviderId" : 12346
                },
                {
                  "accountNumber" : "ABCR80",
                  "balance" : 0,
                  "code" : "ups",
                  "name" : "UPS",
                  "primary" : true,
                  "requiresFundedAccount" : false,
                  "shippingProviderId" : 12347
                },
                {
                  "accountNumber" : 297929999,
                  "balance" : 0,
                  "code" : "fedex",
                  "name" : "FedEx",
                  "nickname" : "SS",
                  "primary" : true,
                  "requiresFundedAccount" : false,
                  "shippingProviderId" : 12348
                },
                {
                  "accountNumber" : "913999",
                  "balance" : 0,
                  "code" : "endicia",
                  "name" : "Endicia",
                  "primary" : true,
                  "requiresFundedAccount" : true,
                  "shippingProviderId" : 12349
                }
              ]
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Carriers",
        "tags" : [
          "Carriers"
        ]
      }
    },
    "/carriers/addfunds" : {
      "post" : {
        "description" : "Adds funds to a carrier account using the payment information on file. The body of this request should specify the following attributes:\n\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n ``carrierCode`` | string, required |  The carrier to add funds to.\n ``amount`` | number, required | The dollar amount to add to the account.  The minimum value that can be added is $10.00.  The maximum value is $10,000.00.",
        "parameters" : [
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "accountNumber" : "SS123",
                "balance" : 2414e-2,
                "code" : "stamps_com",
                "name" : "Stamps.com",
                "requiresFundedAccount" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Add Funds",
        "tags" : [
          "Carriers"
        ]
      }
    },
    "/carriers/getcarrier?carrierCode={carrierCode}" : {
      "get" : {
        "description" : "Retrieves the shipping carrier account details for the specified carrierCode. Use this method to determine a carrier's account balance.",
        "parameters" : [
          {
            "description" : "The code for the carrier account to retrieve.",
            "in" : "path",
            "name" : "carrierCode",
            "required" : true,
            "type" : "string",
            "x-example" : "stamps_com"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "accountNumber" : "SS123",
                "balance" : 2427e-2,
                "code" : "stamps_com",
                "name" : "Stamps.com",
                "primary" : true,
                "requiresFundedAccount" : true,
                "shippingProviderId" : 12345
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Get Carrier",
        "tags" : [
          "Carriers"
        ]
      }
    },
    "/carriers/listpackages?carrierCode={carrierCode}" : {
      "get" : {
        "description" : "Retrieves a list of packages for the specified carrier",
        "parameters" : [
          {
            "description" : "The carrier's code",
            "in" : "path",
            "name" : "carrierCode",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : [
                {
                  "carrierCode" : "express_1",
                  "code" : "cubic",
                  "domestic" : true,
                  "international" : false,
                  "name" : "Cubic"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "dvd_flat_rate_box",
                  "domestic" : false,
                  "international" : true,
                  "name" : "DVD Flat Rate Box"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "flat_rate_envelope",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Flat Rate Envelope"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "flat_rate_legal_envelope",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Flat Rate Legal Envelope"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "flat_rate_padded_envelope",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Flat Rate Padded Envelope"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "large_envelope_or_flat",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Large Envelope or Flat"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "large_flat_rate_box",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Large Flat Rate Box"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "large_package",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Large Package (any side > 12\")"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "large_video_flat_rate_box",
                  "domestic" : false,
                  "international" : true,
                  "name" : "Large Video Flat Rate Box"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "letter",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Letter"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "medium_flat_rate_box",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Medium Flat Rate Box"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "package",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Package"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "regional_rate_box_a",
                  "domestic" : true,
                  "international" : false,
                  "name" : "Regional Rate Box A"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "regional_rate_box_b",
                  "domestic" : true,
                  "international" : false,
                  "name" : "Regional Rate Box B"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "regional_rate_box_c",
                  "domestic" : true,
                  "international" : false,
                  "name" : "Regional Rate Box C"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "small_flat_rate_box",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Small Flat Rate Box"
                },
                {
                  "carrierCode" : "express_1",
                  "code" : "thick_envelope",
                  "domestic" : true,
                  "international" : true,
                  "name" : "Thick Envelope"
                }
              ]
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Packages",
        "tags" : [
          "Carriers"
        ]
      }
    },
    "/carriers/listservices?carrierCode={carrierCode}" : {
      "get" : {
        "description" : "Retrieves the list of available shipping services provided by the specified carrier",
        "parameters" : [
          {
            "description" : "The carrier's code",
            "in" : "path",
            "name" : "carrierCode",
            "required" : true,
            "type" : "string"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : [
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_ground",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx Ground®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_home_delivery",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx Home Delivery®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_2day",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx 2Day®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_2day_am",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx 2Day® A.M."
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_express_saver",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx Express Saver®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_standard_overnight",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx Standard Overnight®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_priority_overnight",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx Priority Overnight®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_first_overnight",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx First Overnight®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_1_day_freight",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx 1 Day® Freight"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_2_day_freight",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx 2 Day® Freight"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_3_day_freight",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx 3 Day® Freight"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_first_overnight_freight",
                  "domestic" : true,
                  "international" : false,
                  "name" : "FedEx First Overnight® Freight"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_ground_international",
                  "domestic" : false,
                  "international" : true,
                  "name" : "FedEx Ground® International"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_international_economy",
                  "domestic" : false,
                  "international" : true,
                  "name" : "FedEx International Economy®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_international_priority",
                  "domestic" : false,
                  "international" : true,
                  "name" : "FedEx International Priority®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_international_first",
                  "domestic" : false,
                  "international" : true,
                  "name" : "FedEx International First®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_europe_first",
                  "domestic" : false,
                  "international" : true,
                  "name" : "FedEx Europe First®"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_international_economy_freight",
                  "domestic" : false,
                  "international" : true,
                  "name" : "FedEx International Economy® Freight"
                },
                {
                  "carrierCode" : "fedex",
                  "code" : "fedex_international_priority_freight",
                  "domestic" : false,
                  "international" : true,
                  "name" : "FedEx International Priority® Freight"
                }
              ]
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Services",
        "tags" : [
          "Carriers"
        ]
      }
    },
    "/customers/{customerId}" : {
      "get" : {
        "description" : "",
        "parameters" : [
          {
            "description" : "The system generated identifier for the Customer.",
            "in" : "path",
            "name" : "customerId",
            "required" : true,
            "type" : "number",
            "x-example" : "12345678"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "addressVerified" : "Verified",
                "city" : "Auburn",
                "company" : "Test Company",
                "countryCode" : "US",
                "createDate" : "2014-11-18T10:33:01.1900000",
                "customerId" : 12345678,
                "email" : "supermancam@example.com",
                "marketplaceUsernames" : [
                  {
                    "createDate" : "2015-04-27T12:35:03.8300000",
                    "customerId" : 12345678,
                    "customerUserId" : 6719502e1,
                    "marketplace" : "ShipStation",
                    "marketplaceId" : 0,
                    "modifyDate" : "2015-05-14T08:16:15.2700000",
                    "username" : "camtheman@gmail.com"
                  },
                  {
                    "createDate" : "2014-11-18T10:33:01.1970000",
                    "customerId" : 12345678,
                    "customerUserId" : 37568588,
                    "marketplace" : "WooCommerce",
                    "marketplaceId" : 36,
                    "modifyDate" : "2014-11-18T10:33:01.1970000",
                    "username" : "supercam@example.com"
                  },
                  {
                    "customerId" : 12345678,
                    "customerUserId" : 4603894e1,
                    "marketplace" : "TradeGecko",
                    "marketplaceId" : 67,
                    "username" : "camtheman@gmail.com"
                  }
                ],
                "modifyDate" : "2014-11-18T10:33:01.1900000",
                "name" : "Cam Newton",
                "phone" : "555-555-5555",
                "postalCode" : "36830",
                "state" : "AL",
                "street1" : "123 War Eagle Lane",
                "street2" : "",
                "tags" : [
                  {
                    "name" : "Expedited",
                    "tagId" : 1234
                  },
                  {
                    "name" : "00 BULK ORDERED",
                    "tagId" : 9725
                  }
                ]
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Get Customer",
        "tags" : [
          "Customers"
        ]
      }
    },
    "/customers?stateCode={stateCode}&countryCode={countryCode}&tagId={tagId}&marketplaceId={marketplaceId}&sortBy={sortBy}&sortDir={sortDir}&page={page}&pageSize={pageSize}" : {
      "get" : {
        "description" : "Obtains a list of customers that match the specified criteria.",
        "parameters" : [
          {
            "description" : "Returns customers that reside in the specified stateCode.",
            "in" : "path",
            "name" : "stateCode",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Returns customers that reside in the specified countryCode.",
            "in" : "path",
            "name" : "countryCode",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Returns customers that purchased items from the specified marketplaceId.",
            "in" : "path",
            "name" : "marketplaceId",
            "required" : true,
            "type" : "number"
          },
          {
            "description" : "Returns customers that have been tagged with the specified tagId.",
            "in" : "path",
            "name" : "tagId",
            "required" : true,
            "type" : "number"
          },
          {
            "description" : "Sorts the order of the response based off the specified value.",
            "enum" : [
              "Name",
              "ModifyDate",
              "CreateDate"
            ],
            "in" : "path",
            "name" : "sortBy",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Sets the direction of the sort order.",
            "enum" : [
              "ASC",
              "DESC"
            ],
            "in" : "path",
            "name" : "sortDir",
            "required" : true,
            "type" : "string",
            "x-example" : "ASC"
          },
          {
            "default" : 1,
            "description" : "Page number.",
            "in" : "path",
            "name" : "page",
            "required" : true,
            "type" : "number"
          },
          {
            "default" : 1e2,
            "description" : "Requested page size. Max value is 500.",
            "in" : "path",
            "name" : "pageSize",
            "required" : true,
            "type" : "number"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "customers" : [
                  {
                    "addressVerified" : "Verified",
                    "city" : "Auburn",
                    "company" : "Test Company",
                    "countryCode" : "US",
                    "createDate" : "2014-11-18T10:33:01.1900000",
                    "customerId" : 12345678,
                    "email" : "supermancam@example.com",
                    "marketplaceUsernames" : [
                      {
                        "createDate" : "2015-04-27T12:35:03.8300000",
                        "customerId" : 12345678,
                        "customerUserId" : 6719502e1,
                        "marketplace" : "ShipStation",
                        "marketplaceId" : 0,
                        "modifyDate" : "2015-05-14T08:16:15.2700000",
                        "username" : "camtheman@gmail.com"
                      },
                      {
                        "createDate" : "2014-11-18T10:33:01.1970000",
                        "customerId" : 12345678,
                        "customerUserId" : 37568588,
                        "marketplace" : "WooCommerce",
                        "marketplaceId" : 36,
                        "modifyDate" : "2014-11-18T10:33:01.1970000",
                        "username" : "supercam@example.com"
                      },
                      {
                        "customerId" : 12345678,
                        "customerUserId" : 4603894e1,
                        "marketplace" : "TradeGecko",
                        "marketplaceId" : 67,
                        "username" : "camtheman@gmail.com"
                      }
                    ],
                    "modifyDate" : "2014-11-18T10:33:01.1900000",
                    "name" : "Cam Newton",
                    "phone" : "555-555-5555",
                    "postalCode" : "36830",
                    "state" : "AL",
                    "street1" : "123 War Eagle Lane",
                    "street2" : "",
                    "tags" : [
                      {
                        "name" : "Expedited",
                        "tagId" : 1234
                      },
                      {
                        "name" : "00 BULK ORDERED",
                        "tagId" : 9725
                      }
                    ]
                  },
                  {
                    "addressVerified" : "Verified",
                    "city" : "Auburn",
                    "company" : "Test Company",
                    "countryCode" : "US",
                    "createDate" : "2015-06-21T12:48:07.5400000",
                    "customerId" : 87654321,
                    "email" : "boknows@example.com",
                    "marketplaceUsernames" : [
                      {
                        "createDate" : "2015-08-27T14:36:05.7500000",
                        "customerId" : 87654321,
                        "customerUserId" : 7721541e1,
                        "marketplace" : "ShipStation",
                        "marketplaceId" : 0,
                        "modifyDate" : "2015-09-01T09:18:25.3100000",
                        "username" : "boknows@gmail.com"
                      },
                      {
                        "createDate" : "2015-07-05T11:38:01.1970000",
                        "customerId" : 87654321,
                        "customerUserId" : 437591e2,
                        "marketplace" : "WooCommerce",
                        "marketplaceId" : 36,
                        "modifyDate" : "2015-07-05T11:38:01.1970000",
                        "username" : "boknows@example.com"
                      },
                      {
                        "customerId" : 87654321,
                        "customerUserId" : 81565241,
                        "marketplace" : "TradeGecko",
                        "marketplaceId" : 67,
                        "username" : "bo@gmail.com"
                      }
                    ],
                    "name" : "Bo Jackson",
                    "phone" : "555-555-5555",
                    "postalCode" : "36830",
                    "state" : "AL",
                    "street1" : "456 Heisman Ave",
                    "street2" : "",
                    "tags" : [
                      {
                        "name" : "Expedited",
                        "tagId" : 1234
                      },
                      {
                        "name" : "00 BULK ORDERED",
                        "tagId" : 9725
                      }
                    ]
                  }
                ],
                "page" : 1,
                "pages" : 1,
                "total" : 2
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Customers",
        "tags" : [
          "Customers"
        ]
      }
    },
    "/fulfillments" : {
      "get" : {
        "description" : "",
        "parameters" : [
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "fulfillments" : [
                  {
                    "carrierCode" : "USPS",
                    "createDate" : "2016-06-07T08:50:50.0670000",
                    "customerEmail" : "apisupport@shipstation.com",
                    "fulfillmentFee" : 0,
                    "fulfillmentId" : 33974374,
                    "marketplaceNotified" : true,
                    "orderId" : 191759016,
                    "orderNumber" : "101",
                    "shipDate" : "2016-06-07T00:00:00.0000000",
                    "shipTo" : {
                      "city" : "AUSTIN",
                      "country" : "US",
                      "name" : "Yoda",
                      "phone" : "512-485-4282",
                      "postalCode" : "78756",
                      "state" : "TX",
                      "street1" : "3800 N Lamar Blvd # 220"
                    },
                    "trackingNumber" : "783408231234",
                    "userId" : "c9f06d74-95de-4263-9b04-e87095cababf",
                    "voidRequested" : false,
                    "voided" : false
                  },
                  {
                    "carrierCode" : "FedEx",
                    "createDate" : "2016-06-08T12:54:53.3470000",
                    "customerEmail" : "apisupport@shipstation.com",
                    "fulfillmentFee" : 0,
                    "fulfillmentId" : 24631e1,
                    "marketplaceNotified" : true,
                    "orderId" : 193699927,
                    "orderNumber" : "101",
                    "shipDate" : "2016-06-08T00:00:00.0000000",
                    "shipTo" : {
                      "city" : "AUSTIN",
                      "country" : "US",
                      "name" : "Yoda",
                      "phone" : "512-485-4282",
                      "postalCode" : "78756",
                      "state" : "TX",
                      "street1" : "3800 N Lamar Blvd # 220"
                    },
                    "trackingNumber" : "664756278745",
                    "userId" : "c9f06d74-95de-4263-9b04-e87095cababf",
                    "voidRequested" : false,
                    "voided" : false
                  }
                ],
                "page" : 1,
                "pages" : 0,
                "total" : 2
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Fulfillments w/o parameters",
        "tags" : [
          "Fulfillments"
        ]
      }
    },
    "/fulfillments?fulfillmentId={fulfillmentId}&orderId={orderId}&orderNumber={orderNumber}&trackingNumber={trackingNumber}&recipientName={recipientName}&createDateStart={createDateStart}&createDateEnd={createDateEnd}&shipDateStart={shipDateStart}&shipDateEnd={shipDateEnd}&sortBy={sortBy}&sortDir={sortDir}&page={page}&pageSize={pageSize}" : {
      "get" : {
        "description" : "Obtains a list of fulfillments that match the specified criteria.  Please note the following:\n\n- Orders that have been marked as shipped either through the UI or the API will appear in the response as they are considered fulfillments.\n\nAll of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:\n\nUrl format with filters:\n\n```\nfulfillments?fulfillmentId={fulfillmentId}\n&orderId={orderId}\n&orderNumber={orderNumber}\n&trackingNumber={trackingNumber}\n&recipientName={recipientName}\n&createDateStart={createDateStart}\n&createDateEnd={createDateEnd}\n&shipDateStart={shipDateStart}\n&shipDateEnd={shipDateEnd}\n&sortBy={sortBy}\n&sortDir={sortDir}\n&page={page}\n&pageSize={pageSize}\n```",
        "parameters" : [
          {
            "description" : "Returns the fulfillment with the specified fulfillment ID.",
            "in" : "path",
            "name" : "fulfillmentId",
            "required" : true,
            "type" : "number"
          },
          {
            "description" : "Returns fulfillments whose orders have the specified order ID.",
            "in" : "path",
            "name" : "orderId",
            "required" : true,
            "type" : "number"
          },
          {
            "description" : "Returns fulfillments whose orders have the specified order number.",
            "in" : "path",
            "name" : "orderNumber",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Returns fulfillments with the specified tracking number.",
            "in" : "path",
            "name" : "trackingNumber",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Returns fulfillments shipped to the specified recipient name.",
            "in" : "path",
            "name" : "recipientName",
            "required" : true,
            "type" : "string"
          },
          {
            "description" : "Returns fulfillments created on or after the specified ``createDate``",
            "in" : "path",
            "name" : "createDateStart",
            "required" : true,
            "type" : "string",
            "x-example" : "2015-01-01 00:00:00"
          },
          {
            "description" : "Returns fulfillments created on or before the specified ``createDate``",
            "in" : "path",
            "name" : "createDateEnd",
            "required" : true,
            "type" : "string",
            "x-example" : "2015-01-08 00:00:00"
          },
          {
            "description" : "Returns fulfillments with the ``shipDate`` on or after the specified date",
            "in" : "path",
            "name" : "shipDateStart",
            "required" : true,
            "type" : "string",
            "x-example" : "2015-01-01"
          },
          {
            "description" : "Returns fulfillments with the ``shipDate`` on or before the specified date",
            "in" : "path",
            "name" : "shipDateEnd",
            "required" : true,
            "type" : "string",
            "x-example" : "2015-01-08"
          },
          {
            "description" : "Sort the responses by a set value.  The response will be sorted based off the ascending dates (oldest to most current.)  If left empty, the response will be sorted by ascending ``createDate``.",
            "enum" : [
              "ShipDate",
              "CreateDate"
            ],
            "in" : "path",
            "name" : "sortBy",
            "required" : true,
            "type" : "string",
            "x-example" : "ShipDate"
          },
          {
            "description" : "Sets the direction of the sort order.",
            "enum" : [
              "ASC",
              "DESC"
            ],
            "in" : "path",
            "name" : "sortDir",
            "required" : true,
            "type" : "string",
            "x-example" : "ASC"
          },
          {
            "default" : 1,
            "description" : "page number.",
            "in" : "path",
            "name" : "page",
            "required" : true,
            "type" : "number"
          },
          {
            "default" : 1e2,
            "description" : "page size.",
            "in" : "path",
            "name" : "pageSize",
            "required" : true,
            "type" : "number"
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "fulfillments" : [
                  {
                    "carrierCode" : "USPS",
                    "createDate" : "2016-06-07T08:50:50.0670000",
                    "customerEmail" : "apisupport@shipstation.com",
                    "fulfillmentFee" : 0,
                    "fulfillmentId" : 33974374,
                    "marketplaceNotified" : true,
                    "orderId" : 191759016,
                    "orderNumber" : "101",
                    "shipDate" : "2016-06-07T00:00:00.0000000",
                    "shipTo" : {
                      "city" : "AUSTIN",
                      "country" : "US",
                      "name" : "Yoda",
                      "phone" : "512-485-4282",
                      "postalCode" : "78756",
                      "state" : "TX",
                      "street1" : "3800 N Lamar Blvd # 220"
                    },
                    "trackingNumber" : "783408231234",
                    "userId" : "c9f06d74-95de-4263-9b04-e87095cababf",
                    "voidRequested" : false,
                    "voided" : false
                  },
                  {
                    "carrierCode" : "FedEx",
                    "createDate" : "2016-06-08T12:54:53.3470000",
                    "customerEmail" : "apisupport@shipstation.com",
                    "fulfillmentFee" : 0,
                    "fulfillmentId" : 24631e1,
                    "marketplaceNotified" : true,
                    "orderId" : 193699927,
                    "orderNumber" : "101",
                    "shipDate" : "2016-06-08T00:00:00.0000000",
                    "shipTo" : {
                      "city" : "AUSTIN",
                      "country" : "US",
                      "name" : "Yoda",
                      "phone" : "512-485-4282",
                      "postalCode" : "78756",
                      "state" : "TX",
                      "street1" : "3800 N Lamar Blvd # 220"
                    },
                    "trackingNumber" : "664756278745",
                    "userId" : "c9f06d74-95de-4263-9b04-e87095cababf",
                    "voidRequested" : false,
                    "voided" : false
                  }
                ],
                "page" : 1,
                "pages" : 0,
                "total" : 2
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Fulfillments with parameters",
        "tags" : [
          "Fulfillments"
        ]
      }
    },
    "/orders" : {
      "get" : {
        "description" : "",
        "parameters" : [
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "orders" : [
                  {
                    "advancedOptions" : {
                      "containsAlcohol" : false,
                      "customField1" : "SKU: CN-9876 x 1",
                      "customField2" : "SKU: Ele-123 x 2",
                      "mergedIds" : [
                      ],
                      "mergedOrSplit" : false,
                      "nonMachinable" : false,
                      "saturdayDelivery" : false,
                      "storeId" : 12345,
                      "warehouseId" : 98765
                    },
                    "amountPaid" : 41297e-2,
                    "billTo" : {
                      "name" : "Sherlock Holmes"
                    },
                    "carrierCode" : "stamps_com",
                    "confirmation" : "delivery",
                    "createDate" : "2015-08-17T09:24:14.7800000",
                    "customerEmail" : "sholmes1854@methodsofdetection.com",
                    "customerId" : 63310475,
                    "customerNotes" : "Please be careful when packing the disguise kits in with the cane.",
                    "customerUsername" : "sholmes1854@methodsofdetection.com",
                    "dimensions" : {
                      "height" : 5,
                      "length" : 4e1,
                      "units" : "inches",
                      "width" : 7
                    },
                    "externallyFulfilled" : false,
                    "gift" : false,
                    "insuranceOptions" : {
                      "insureShipment" : false,
                      "insuredValue" : 0
                    },
                    "internalNotes" : "Mr. Holmes called to upgrade his shipping to expedited",
                    "internationalOptions" : {
                      "contents" : "merchandise",
                      "customsItems" : [
                        {
                          "countryOfOrigin" : "US",
                          "customsItemId" : 11558268,
                          "description" : "Fine White Oak Cane",
                          "quantity" : 1,
                          "value" : 225
                        },
                        {
                          "countryOfOrigin" : "US",
                          "customsItemId" : 11558267,
                          "description" : "Elementary Disguise Kit",
                          "quantity" : 2,
                          "value" : 4999e-2
                        }
                      ],
                      "nonDelivery" : "return_to_sender"
                    },
                    "items" : [
                      {
                        "adjustment" : false,
                        "createDate" : "2015-08-17T09:24:14.78",
                        "fulfillmentSku" : "Ele-1234",
                        "modifyDate" : "2015-08-17T09:24:14.78",
                        "name" : "Elementary Disguise Kit",
                        "options" : [
                        ],
                        "orderItemId" : 136282568,
                        "productId" : 1178061e1,
                        "quantity" : 2,
                        "sku" : "Ele-1234",
                        "unitPrice" : 4999e-2,
                        "warehouseLocation" : "Aisle 1, Bin 7",
                        "weight" : {
                          "units" : "ounces",
                          "value" : 12
                        }
                      },
                      {
                        "adjustment" : false,
                        "createDate" : "2015-08-17T09:24:14.78",
                        "modifyDate" : "2015-08-17T09:24:14.78",
                        "name" : "Fine White Oak Cane",
                        "options" : [
                        ],
                        "orderItemId" : 136282569,
                        "productId" : 11780609,
                        "quantity" : 1,
                        "sku" : "CN-9876",
                        "unitPrice" : 225,
                        "warehouseLocation" : "Aisle 7, Bin 34",
                        "weight" : {
                          "units" : "ounces",
                          "value" : 8e1
                        }
                      }
                    ],
                    "modifyDate" : "2015-08-17T09:24:16.4800000",
                    "orderDate" : "2015-06-28T17:46:27.0000000",
                    "orderId" : 987654321,
                    "orderKey" : "Test-International-API-DOCS",
                    "orderNumber" : "Test-International-API-DOCS",
                    "orderStatus" : "awaiting_shipment",
                    "orderTotal" : 38797e-2,
                    "packageCode" : "package",
                    "paymentDate" : "2015-06-28T17:46:27.0000000",
                    "requestedShippingService" : "Priority Mail Int",
                    "serviceCode" : "usps_priority_mail_international",
                    "shipByDate" : "2015-07-05T00:00:00.0000000",
                    "shipDate" : "2015-04-25",
                    "shipTo" : {
                      "addressVerified" : "Address not yet validated",
                      "city" : "London",
                      "company" : "",
                      "country" : "GB",
                      "name" : "Sherlock Holmes",
                      "postalCode" : "NW1 6XE",
                      "residential" : true,
                      "state" : "",
                      "street1" : "221 B Baker St",
                      "street2" : ""
                    },
                    "shippingAmount" : 35,
                    "taxAmount" : 2799e-2,
                    "weight" : {
                      "units" : "ounces",
                      "value" : 104
                    }
                  },
                  {
                    "advancedOptions" : {
                      "containsAlcohol" : false,
                      "customField1" : "Custom data that you can add to an order. See Custom Field #2 & #3 for more info!",
                      "customField2" : "Per UI settings, this information can appear on some carrier's shipping labels. See link below",
                      "customField3" : "https://help.shipstation.com/hc/en-us/articles/206639957",
                      "mergedIds" : [
                      ],
                      "mergedOrSplit" : false,
                      "nonMachinable" : false,
                      "saturdayDelivery" : false,
                      "source" : "Webstore",
                      "storeId" : 12345,
                      "warehouseId" : 98765
                    },
                    "amountPaid" : 21873e-2,
                    "billTo" : {
                      "name" : "The President"
                    },
                    "carrierCode" : "fedex",
                    "confirmation" : "delivery",
                    "createDate" : "2015-07-16T14:00:34.8230000",
                    "customerEmail" : "headhoncho@whitehouse.gov",
                    "customerId" : 37701499,
                    "customerNotes" : "Please ship as soon as possible!",
                    "customerUsername" : "headhoncho@whitehouse.gov",
                    "dimensions" : {
                      "height" : 6,
                      "length" : 7,
                      "units" : "inches",
                      "width" : 5
                    },
                    "externallyFulfilled" : false,
                    "gift" : true,
                    "giftMessage" : "Thank you!",
                    "insuranceOptions" : {
                      "insureShipment" : true,
                      "insuredValue" : 2e2,
                      "provider" : "carrier"
                    },
                    "internalNotes" : "Customer called and would like to upgrade shipping",
                    "internationalOptions" : {
                      
                    },
                    "items" : [
                      {
                        "adjustment" : false,
                        "createDate" : "2015-07-16T14:00:34.823",
                        "lineItemKey" : "vd08-MSLbtx",
                        "modifyDate" : "2015-07-16T14:00:34.823",
                        "name" : "Test item #1",
                        "options" : [
                          {
                            "name" : "Size",
                            "value" : "Large"
                          }
                        ],
                        "orderItemId" : 128836912,
                        "productId" : 7239919,
                        "quantity" : 2,
                        "sku" : "ABC123",
                        "unitPrice" : 9999e-2,
                        "warehouseLocation" : "Aisle 1, Bin 7",
                        "weight" : {
                          "units" : "ounces",
                          "value" : 24
                        }
                      },
                      {
                        "adjustment" : true,
                        "createDate" : "2015-07-16T14:00:34.823",
                        "modifyDate" : "2015-07-16T14:00:34.823",
                        "name" : "10% OFF",
                        "options" : [
                        ],
                        "orderItemId" : 128836913,
                        "quantity" : 1,
                        "sku" : "DISCOUNT CODE",
                        "unitPrice" : -2055e-2,
                        "weight" : {
                          "units" : "ounces",
                          "value" : 0
                        }
                      }
                    ],
                    "modifyDate" : "2015-08-17T09:21:59.4430000",
                    "orderDate" : "2015-06-29T08:46:27.0000000",
                    "orderId" : 123456789,
                    "orderKey" : "0f6bec18-9-4771-83aa-f392d84f4c74",
                    "orderNumber" : "TEST-ORDER-API-DOCS",
                    "orderStatus" : "awaiting_shipment",
                    "orderTotal" : 19443e-2,
                    "packageCode" : "package",
                    "paymentDate" : "2015-06-29T08:46:27.0000000",
                    "paymentMethod" : "Credit Card",
                    "requestedShippingService" : "Priority Mail",
                    "serviceCode" : "fedex_home_delivery",
                    "shipByDate" : "2015-07-05T00:00:00.0000000",
                    "shipDate" : "2015-07-02",
                    "shipTo" : {
                      "addressVerified" : "Address validation warning",
                      "city" : "Washington",
                      "company" : "US Govt",
                      "country" : "US",
                      "name" : "The President",
                      "phone" : "555-555-5555",
                      "postalCode" : "20500",
                      "residential" : false,
                      "state" : "DC",
                      "street1" : "1600 Pennsylvania Ave",
                      "street2" : "Oval Office"
                    },
                    "shippingAmount" : 1e1,
                    "taxAmount" : 5,
                    "weight" : {
                      "units" : "ounces",
                      "value" : 48
                    }
                  }
                ],
                "page" : 1,
                "pages" : 0,
                "total" : 2
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "List Orders w/o parameters",
        "tags" : [
          "Orders"
        ]
      }
    },
    "/orders/addtag" : {
      "post" : {
        "description" : "Adds a tag to an order.  The body of this request should specify the following attributes:\n\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderId`` | number, required | Identifies the order that will be tagged.\n``tagId`` | number, required | Identifies the tag that will be applied to the order.",
        "parameters" : [
          {
            "in" : "body",
            "name" : "body",
            "schema" : {
              "example" : {
                "orderId" : 123456,
                "tagId" : 1234
              },
              "properties" : {
                "orderId" : {
                  "type" : "number"
                },
                "tagId" : {
                  "type" : "number"
                }
              },
              "type" : "object"
            }
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "message" : "Tag added successfully.",
                "success" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Add Tag to Order",
        "tags" : [
          "Orders"
        ]
      }
    },
    "/orders/assignuser" : {
      "post" : {
        "description" : "Assigns a user to an order.  The body of this request should specify the following attributes:\n\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderIds`` | number, required | Identifies set of orders that will be assigned the user.  Please note that if ANY of the orders within the array are not found, no orders will have a user assigned to them.\n``userId`` | number, required | Identifies the user that will be applied to the orders.  It should contain a GUID of the user to be assigned to the array of orders.",
        "parameters" : [
          {
            "in" : "body",
            "name" : "body",
            "schema" : {
              "example" : {
                "orderIds" : [
                  123456789,
                  12345679
                ],
                "userId" : "123456AB-ab12-3c4d-5e67-89f1abc1defa"
              },
              "properties" : {
                "orderIds" : {
                  "items" : {
                    "type" : "number"
                  },
                  "type" : "array"
                },
                "userId" : {
                  "type" : "string"
                }
              },
              "type" : "object"
            }
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "message" : "User assigned successfully.",
                "success" : true
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Assign User to Order",
        "tags" : [
          "Orders"
        ]
      }
    },
    "/orders/createlabelfororder" : {
      "post" : {
        "description" : "Creates a shipping label for a given order.  The ``labelData`` field returned in the response is a base64 encoded PDF value. Simply decode and save the output as a PDF file to retrieve a printable label.  The body of this request should specify the following attributes:\n\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderId`` | number, required | Identifies the order that will be shipped.\n``carrierCode`` | string, required | The code for the carrier that is to be used for the label.\n``serviceCode`` | string, required | The code for the shipping service that is to be used for the label.\n``confirmation`` | string, required | The type of delivery confirmation that is to be used once the shipment is created.  Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.\n``shipDate`` | string, required | The date the order should be shipped.\n``weight`` | Weight, optional | Weight of the order.  Use the [**Weight**](http://www.shipstation.com/developer-api/#/reference/model-weight) model.\n``dimensions`` | Dimensions, optional | Dimensions of the order.  Use [**Dimensions**](http://www.shipstation.com/developer-api/#/reference/model-dimensions) model.\n``insuranceOptions`` | InsuranceOptions, optional | The shipping insurance information associated with this label.  Use the [**InsuranceOptions**](http://www.shipstation.com/developer-api/#/reference/model-insuranceoptions) model.\n``internationalOptions`` | InternationalOptions, optional | Customs information that can be used to generate customs documents for international orders.  Use the [**InternationalOptions**](http://www.shipstation.com/developer-api/#/reference/model-internationaloptions) model.\n``advancedOptions`` | AdvancedOptions, optional | Various advanced options that may be available depending on the shipping carrier that is used to ship the order. Use the Customs information that can be used to generate customs documents for international orders.  Use the [**AdvancedOptions**](http://www.shipstation.com/developer-api/#/reference/model-advancedoptions) model.\n``testLabel`` | boolean, required | Specifies whether a test label should be created.",
        "parameters" : [
          {
            "in" : "body",
            "name" : "body",
            "schema" : {
              "example" : {
                "carrierCode" : "fedex",
                "orderId" : 93348442,
                "packageCode" : "package",
                "serviceCode" : "fedex_2day",
                "shipDate" : "2014-04-03",
                "testLabel" : false,
                "weight" : {
                  "units" : "pounds",
                  "value" : 2
                }
              },
              "properties" : {
                "advancedOptions" : {
                  "type" : "null"
                },
                "carrierCode" : {
                  "type" : "string"
                },
                "confirmation" : {
                  "type" : "null"
                },
                "dimensions" : {
                  "type" : "null"
                },
                "insuranceOptions" : {
                  "type" : "null"
                },
                "internationalOptions" : {
                  "type" : "null"
                },
                "orderId" : {
                  "type" : "number"
                },
                "packageCode" : {
                  "type" : "string"
                },
                "serviceCode" : {
                  "type" : "string"
                },
                "shipDate" : {
                  "type" : "string"
                },
                "testLabel" : {
                  "type" : "boolean"
                },
                "weight" : {
                  "properties" : {
                    "units" : {
                      "type" : "string"
                    },
                    "value" : {
                      "type" : "number"
                    }
                  },
                  "type" : "object"
                }
              },
              "type" : "object"
            }
          }
        ],
        "produces" : [
          "application/json"
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "insuranceCost" : 0,
                "labelData" : "JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9MZW5ndGggNjIvRmlsdGVyL0ZsYXRlRGVjb2RlPj5zdHJlYW0KeJwr5HIK4TI2UzC2NFMISeFyDeEK5CpUMFQwAEJDBV0jCz0LBV1jY0M9I4XkXAX9iDRDBZd8hUAuAEdGC7cKZW5kc3RyZWFtCmVuZG9iago0IDAgb2JqCjw8L1R5cGUvUGFnZS9NZWRpYUJveFswIDAgMjg4IDQzMl0vUmVzb3VyY2VzPDwvUHJvY1NldCBbL1BERiAvVGV4dCAvSW1hZ2VCIC9JbWFnZUMgL0ltYWdlSV0vWE9iamVjdDw8L1hmMSAxIDAgUj4+Pj4vQ29udGVudHMgMiAwIFIvUGFyZW50....",
                "shipmentCost" : 73e-1,
                "shipmentId" : 7251348e1,
                "trackingNumber" : "248201115029520"
              }
            },
            "headers" : {
              
            }
          }
        },
        "summary" : "Create Label for Order",
        "tags" : [
          "Orders"
        ]
      }
    },
    "/orders/createorder" : {
      "post" : {
        "description" : "If the ``orderKey`` is specified, the method becomes idempotent and the existing order with that key will be updated. Note: Only orders in an open status in ShipStation (``awaiting_payment``,``awaiting_shipment``, and ``on_hold``) can be updated through this method. ``cancelled`` and ``shipped`` are locked from modification through the API.  The body of this request should specify an [**Order**](https://www.shipstation.com/developer-api/#/reference/model-order) object:\n\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderNumber`` | string, required | A user-defined order number used to identify an order.\n``orderKey`` | string, optional | A user-provided key that should be unique to each order.  If an orderKey is not provided, ShipStation will create a new order and generate a unique orderKey for that order.  If the orderKey *is* provided, the **createorder** method will either: create a new order if the provided orderKey is not found, or, update the existing order if the orderKey is found.\n``orderDate`` | string, required | The date the order was placed.\n``paymentDate`` | string, optional | The date the order was paid for.\n``shipByDate`` | string, optional | The date the order is to be shipped before or on. This field is a suggested value generated by the order source/platform/cart and passed to ShipStation.\n``orderStatus`` | string, required | The order's status. Possible values: ``awaiting_payment``, ``awaiting_shipment``, ``shipped``, ``on_hold``, ``cancelled``\n``customerUsername`` | string, optional | The customer's username.\n``customerEmail`` | string, optional | The customer's email address.\n``billTo`` | Address, required | The recipients billing address. Use the [**Address**](https://www.shipstation.com/developer-api/#/reference/model-address) model.\n``shipTo`` | Address, required | The recipient's shipping address. Use the [**Address**](http://www.shipstation.com/developer-api/#/reference/model-address) model.\n``items`` | OrderItem, optional | An array of item objects.  Use an array of [**OrderItem**](http://www.shipstation.com/developer-api/#/reference/model-orderitem) models.\n``amountPaid`` | number, optional | The total amount paid for the Order.\n``taxAmount`` | number, optional | The total tax amount for the Order.\n``shippingAmount`` | number, optional | Shipping amount paid by the customer, if any.\n``customerNotes`` | string, optional | Notes left by the customer when placing the order.\n``internalNotes`` | string, optional | Private notes that are only visible to the seller.\n``gift`` | boolean, optional | Specifies whether or not this Order is a gift\n``giftMessage`` | string, optional | Gift message left by the customer when placing the order.\n``paymentMethod`` | string, optional | Method of payment used by the customer.\n``requestedShippingService`` | string, optional |Identifies the shipping service selected by the customer when placing this order. This value is given to ShipStation by the marketplace/cart and helps identify what shipping service the customer selected upon checkout.\n``carrierCode`` | string, optional | The code for the carrier that is to be used(or was used) when this order is shipped(was shipped).\n``serviceCode`` | string, optional | The code for the shipping service that is to be used(or was used) when this order is shipped(was shipped).\n``packageCode`` | string, optional | The code for the package type that is to be used(or was used) when this order is shipped(was shipped).\n``confirmation`` | string, optional | The type of delivery confirmation that is to be used(or was used) when this order is shipped(was shipped). Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.  \n``shipDate`` | string, optional | The date the order was shipped.\n``weight`` | Weight, optional | Weight of the order.  Use the [**Weight**](http://www.shipstation.com/developer-api/#/reference/model-weight) model.\n``dimensions`` | Dimensions, optional | Dimensions of the order.  Use the [**Dimensions**](http://www.shipstation.com/developer-api/#/reference/model-dimensions) model.\n``insuranceOptions`` | InsuranceOptions, optional | The shipping insurance information associated with this order.  Use the [**InsuranceOptions**](http://www.shipstation.com/developer-api/#/reference/model-insuranceoptions) model.\n``internationalOptions`` | InternationalOptions, optional | Customs information that can be used to generate customs documents for international orders.  Use the [**InternationalOptions**](http://www.shipstation.com/developer-api/#/reference/model-internationaloptions) model.\n``advancedOptions`` | AdvancedOptions, optional | Various advanced options that may be available depending on the shipping carrier that is used to ship the order. Use the [**AdvancedOptions**](http://www.shipstation.com/developer-api/#/reference/model-advancedoptions) model.\n``tagIds``|number[]|Array of tagIds.  Each tagId identifies a tag that has been associated with this order.",
        "parameters" : [
          {
            "in" : "body",
            "name" : "body",
            "schema" : {
              "example" : {
                "advancedOptions" : {
                  "containsAlcohol" : false,
                  "customField1" : "Custom data that you can add to an order. See Custom Field #2 & #3 for more info!",
                  "customField2" : "Per UI settings, this information can appear on some carrier's shipping labels. See link below",
                  "customField3" : "https://help.shipstation.com/hc/en-us/articles/206639957",
                  "mergedIds" : [
                  ],
                  "mergedOrSplit" : false,
                  "nonMachinable" : false,
                  "saturdayDelivery" : false,
                  "source" : "Webstore",
                  "storeId" : 12345,
                  "warehouseId" : 98765
                },
                "amountPaid" : 21873e-2,
                "billTo" : {
                  "name" : "The President"
                },
                "carrierCode" : "fedex",
                "confirmation" : "delivery",
[...]
