store:
  memory:
    limit: 1000
packages:
  '@useoptic/*':
      access: $all
      publish: $all
      proxy: npmjs
  '*/*':
      access: $all
      proxy: npmjs
  '**':
      access: $all
      proxy: npmjs
uplinks:
  npmjs:
    url: https://registry.npmjs.org/
logs:
  - {type: stdout, format: pretty, level: trace}

max_body_size: 100
