name: optic
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  diff-all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Uncomment to generate your specifications before running Optic:
      # - name: Generate Spec
      #   run: ./generate_spec.example.sh

      - uses: opticdev/action@v1
        with:
          # Your Optic Cloud Token
          optic_token: ${{ secrets.OPTIC_TOKEN }}

          # A GitHub token with access to create comments on pull requests
          github_token: ${{ secrets.GITHUB_TOKEN }}

          # If true, standard check failures will cause this action to fail.
          # If false, standard check failures will show in PR comments and
          # in Optic Cloud but will not cause the action to fail
          standards_fail: true

          # If you have more than one spec, separate matches with commas
          # Examples of match: "openapi.yml" or "openapi.yml,other.yml" or "*.spec.yml"
          additional_args: --match ""

          # Uncomment if you generate your specs and don't track them in Git. Requires Optic cloud.
          # compare_from_pr: cloud:default
          # compare_from_push: cloud:default

