#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.blob {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 0 0 rgb(85, 108, 161);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(96, 141, 196);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.app-error-container {
  max-width: 960;
  margin: 0 auto;
}

.app-error li {
  margin: 12px;
}
