name: Test end to end

on:
  pull_request:
    branches:
      - develop
      - release
  push:
    branches:
      - develop
      - release

jobs:

  local-cli-e2e:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-node@56899e050abffc08c2b3b61f3ec6a79a9dc3223d # https://github.com/actions/setup-node/releases/tag/v1.4.4
        with:
          node-version: 12

      - name: 'Set CARGO_HOME and RUSTUP_HOME'
        run: |
          echo "RUSTUP_HOME=$HOME/.rustup" >> $GITHUB_ENV
          echo "CARGO_HOME=$HOME/.cargo" >> $GITHUB_ENV

      - name: 'Checkout source'
        uses: actions/checkout@28c7f3d2b5162b5ddd3dfd9a45aa55eaf396478b # https://github.com/actions/checkout/commits/v2
      - name: restore cached node_modules
        id: workspace-node-modules
        uses: actions/cache@d1255ad9362389eac595a9ae406b8e8cb3331f16 # v2.1.2
        with:
          path: |
            node_modules/
          key: workspace-node-modules-${{ hashFiles('yarn.lock') }}-v1
      - name: 'Install test dependencies'
        run: |
          set -x
          set -v
          source sourceme.sh
          optic_build_for_release

      - name: 'restore cached cargo registry'
        uses: actions/cache@d1255ad9362389eac595a9ae406b8e8cb3331f16 # https://github.com/actions/cache/commits/v2
        with:
          path: |
            ${{ env.CARGO_HOME }}/registry
            ${{ env.CARGO_HOME }}/git
            target
          key: '${{ runner.os }}-cargo-${{ hashFiles(''**/Cargo.lock'') }}-v4'
      - name: 'Rust toolchain'
        uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # https://github.com/actions-rs/toolchain/commits/v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: 'Build'
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # https://github.com/actions-rs/cargo/commits/v1
        with:
          command: build
          args: --workspace --all-features
      - name: 'Test'
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # https://github.com/actions-rs/cargo/commits/v1
        with:
          command: test
      - name: 'Flush Cargo cache to disk on macOS'
        if: runner.os == 'macOS'
        run: sudo /usr/sbin/purge


      #      - name: 'Install local-cli'
      #        shell: bash
      #        run: |
      #          OPTIC_VERSION=$(node -e "console.log(require('./workspaces/local-cli/package.json').version)")
      #          echo "OPTIC_VERSION=$OPTIC_VERSION" >> $GITHUB_ENV
      #          npm install -g "@useoptic/cli@$OPTIC_VERSION"
      - name: 'run scenario'
        run: |
          source sourceme.sh
          optic_ci_e2e

#  test-end-to-end:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/setup-node@44c9c187283081e4e88b54b0efad9e9d468165a4 # https://github.com/actions/setup-node/commits/v1
#      with:
#        node-version: 12
#    - run: echo "::add-path::$(yarn global bin)"
#    - name: Check out Optic Repo
#      uses: actions/checkout@28c7f3d2b5162b5ddd3dfd9a45aa55eaf396478b # https://github.com/actions/checkout/commits/v2
#      with:
#        path: ./optic-repo
#    - name: Release Optic Locally
#      run: |
#        source sourceme.sh && optic_local_registry_start
#        source sourceme.sh && optic_build_and_publish_locally
#      working-directory: ./optic-repo
#    - uses: actions/checkout@28c7f3d2b5162b5ddd3dfd9a45aa55eaf396478b # https://github.com/actions/checkout/commits/v2
#      with:
#        repository: opticdev/optic-end-end-tests
#        token: ${{ secrets.END_TO_END_ACCESS_KEY }}
#        path: ./tests
#    - run: npm install
#      working-directory: ./tests
#    - run: npm test
#      working-directory: ./tests
#      env:
#        DEBUG: "*,-babel*" # Helps with tracing errors
