name: Test end to end

on:
  pull_request:
    branches:
      - develop
      - release
  push:
    branches:
      - develop
      - release

jobs:
  test-end-to-end:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@56899e050abffc08c2b3b61f3ec6a79a9dc3223d # v1.4.4
      with:
        node-version: 12
    - run: echo "::add-path::$(yarn global bin)"
    - name: Check out Optic Repo
      uses: actions/checkout@a81bbbf8298c0fa03ea29cdc473d45769f953675 # v2.3.3
      with:
        path: ./optic-repo
    - name: Release Optic Locally
      run: |
        source sourceme.sh && optic_local_registry_start
        source sourceme.sh && optic_build_and_publish_locally
      working-directory: ./optic-repo
    - uses: actions/checkout@a81bbbf8298c0fa03ea29cdc473d45769f953675 # v2.3.3
      with:
        repository: opticdev/optic-end-end-tests
        token: ${{ secrets.END_TO_END_ACCESS_KEY }}
        path: ./tests
    - run: npm install
      working-directory: ./tests
    - run: npm test
      working-directory: ./tests
      env:
        DEBUG: "*,-babel*" # Helps with tracing errors
