# Releases the latest version of Optic on NPM/Brew/Debian
# Assumes the version has been updated
# Triggers on all changes to the release branch

name: Release

env:
  BUCKET_NAME: optic-packages
  PACKAGE_NAME: api
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

on:
  push:
    branches:
      - release

jobs:
  # Deploys the current version to NPM, and also verifies that the version is correct in the process
  # All Jobs rely on this job because it verifies the version
  release-npm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@28c7f3d2b5162b5ddd3dfd9a45aa55eaf396478b # https://github.com/actions/checkout/commits/v2
      with:
          ref: release
    - uses: actions/setup-node@44c9c187283081e4e88b54b0efad9e9d468165a4 # https://github.com/actions/setup-node/commits/v1
      with:
        node-version: 12
    - name: Install Dependencies and Build Optic
      run:  |
        sudo apt-get update
        sudo apt-get install apt-transport-https -y
        echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list
        curl -sL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x2EE0EA64E40A89B84B2DF73499E82A75642AC823" | sudo apt-key add
        sudo apt-get update
        sudo apt-get install sbt -y
        . ./sourceme.sh && optic_build
    - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.PUBLISH_NPM_OPTIC_BOT }}" > ~/.npmrc
    - run: node ./workspaces/scripts/publish.js
      env:
        OPTIC_PUBLISH_SCOPE: public

  # Creates debian package for users to install, hosted on s3
  release-deb:
    runs-on: ubuntu-latest
    needs: release-npm
    steps:
      - uses: actions/checkout@28c7f3d2b5162b5ddd3dfd9a45aa55eaf396478b # https://github.com/actions/checkout/commits/v2
        with:
          ref: release
      - uses: ./.github/deployDebian/ # locally defined action
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          BUCKET_NAME: optic-packages
          PACKAGE_NAME: api
          PREFIX_NAME: deb
          NPM_PACKAGE_NAME: "@useoptic/cli"

  # Triggers Homebrew Release - Configure homebrew/core fork repository in the env settings above
  # Requires Repository Access Token (https://github.com/peter-evans/repository-dispatch#token) with repo:write scope
  trigger-brew-release:
    runs-on: ubuntu-latest
    needs: release-npm
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@56cbd49233c4b3cc03201ca29d2a7cf1271b90e1 # https://github.com/peter-evans/repository-dispatch/commits/v1.1.0
        with:
          token: ${{ secrets.HOMEBREW_UTILITY_ACCOUNT }}
          repository: opticdev/homebrew-optic
          event-type: version-update
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

  # Tells slack a release has happened
  notify-slack:
    runs-on: ubuntu-latest
    needs: release-npm
    name: Message Slack that Release has happened
    steps:
      - uses: actions/setup-node@44c9c187283081e4e88b54b0efad9e9d468165a4 # https://github.com/actions/setup-node/commits/v1
        name: Setup Node (to determine latest version of Optic)
        with:
            node-version: 12
      - run: echo "MESSAGE=${{ github.event.pusher.name }} released version $(npm view @useoptic/cli version) \n Publish Release Notes <https://github.com/opticdev/optic/releases|here>" >> $GITHUB_ENV
      - name: Send message to Slack API
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"${{ env.MESSAGE }}"}' ${{ secrets.SLACK_WEBHOOK_URL }}
