name: Test
on:
  pull_request:
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn

      - name: Install libpcap
        run: sudo apt-get update -y && sudo apt-get install -y libpcap-dev

      - name: Install Task
        run: curl -sL https://taskfile.dev/install.sh | sudo bash -s -- -b /usr/local/bin/

      - name: Test
        run: task default test
