name: Test SEA
on:
  pull_request:
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest-8-core
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install Task
        run: curl -sL https://taskfile.dev/install.sh | sudo bash -s -- -b /usr/local/bin/

      - name: Build
        run: task default

      # build optic binaries. we don't do anything with them yet since theyre not being signed.
      - name: Build packages
        env:
          # this is necessary while we build on intel macos hosts, since it can't generate arm64 bytecode
          pkg_args: '-t node18-linux-x64 --no-bytecode --public --public-packages "*"'
        run: >
          task pkg:build -- ${{ env.pkg_args }}

      # sanity check
      - run: dist/optic diff .github/test-specs/petstore.json --base main
